<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Invite People</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
</head>
<script>
    function createGroup(){
        document.getElementById("groups-list").style.display = "block";
        document.getElementById("no-groups").style.display = "none";
        document.getElementById("create-group-btn").style.display = "none";
    }
    function viewDropdown(img){
        if(document.getElementById("drop-down-1").style.display === "none"){
        document.getElementById("drop-down-1").style.display = "block";
        img.src = "http://localhost:8000/images/extra-large-256px/Artboard 1 copy 53@16x.png";
        document.getElementById("drop-down-btn1").style.borderRadius = "0%";
        }else{
            document.getElementById("drop-down-1").style.display = "none";
            img.src = "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%2047@16x.png";
            document.getElementById("drop-down-btn1").style.borderRadius = "50%";
        }
    }
    function viewDropdown1(){
        if(document.getElementById("drop-down-menu").style.display === "none"){
            document.getElementById("drop-down-menu").style.display = "block";
        }else{
            document.getElementById("drop-down-menu").style.display = "none";
        }
    }
    function groupCreated(){
        document.getElementById("groups-list").style.display = "none";
        document.getElementById("no-groups").style.display = "block";
        document.getElementById("invite-part").style.display = "block";
        document.getElementById("create-group-btn").style.display = "none";
        document.getElementById("upload-success").style.display = "none";
    }
    function invitePeople1(position){
        var list = document.getElementsByClassName("invite-btn");
        var sentlist = document.getElementsByClassName("msg-sent");
        list = [].slice.call(list);
        var n = list.indexOf(position);
        list[n].style.display = "none";
        sentlist[n].style.display = "block";
        var x = document.getElementById("snackbar-invite");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }

    function createGroupDone(){
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
                document.getElementById("upload-success").style.display = "block";
        }

     function closeFrame(){
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
            document.getElementById("upload-success").style.display = "none";
        }
       function invitePeople(){
            document.getElementById("invite-part").style.display = "none";
            document.getElementById("no-groups").style.display = "none";
            document.getElementById("drop-down-btn").style.display = "flex";
            document.getElementById("invite-people").style.display = "block";

       }

       function filterFav(){
            var all = document.getElementsByClassName("group-members");
            var fav = document.getElementsByClassName("favourites");
            document.getElementById("filter-clear-link").style.display = "inline-block";
            document.getElementById("drop-down-menu").style.display = "none";
            document.getElementById("count-msg").style.display = "none";
            document.getElementById("favorite-link").style.color = "#909090";
            document.getElementById("clear-link").style.color = "#32BDD2";
            var i, j;
            for(i=0; i<all.length; i++){
                all[i].style.display = "none";
            }
            for(j=0; j<fav.length; j++){
                fav[j].style.display = "flex";
            }
       }
       function clearFilter(){
            var all = document.getElementsByClassName("group-members");
            document.getElementById("drop-down-menu").style.display = "none";
            document.getElementById("filter-clear-link").style.display = "none";
            var i, j;
            document.getElementById("favorite-link").style.color = "#464646";
            document.getElementById("clear-link").style.color = "#909090";
            for(i=0; i<all.length; i++){
                all[i].style.display = "flex";
            }
       }

         function joinConversation(){
            location.replace("/community/community-groups/community-group-conversation");
        }
         function backToGroupView(){
            location.replace("/community/community-groups/community-groups");
        }
        function viewConversation(){
            var x = document.getElementById("snackbar-group");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        function requestAwaiting(){
            location.replace("/community/community-groups/community-awaiting-group");
        }
        function openGroup(){
            location.replace("/community/community-groups/community-open-group");
        }
        function searchPeople(){
            var str = document.getElementById("search-people").value.toUpperCase().trim();
            var person_name = document.getElementsByClassName("uname");
            var people = document.getElementsByClassName("group-members");
            var i;
            var count = 0;
            var people_list = person_name.length;

            for(i=0;i<people_list;i++){
                var res = person_name[i].textContent.toUpperCase().trim();
                var result = res.match(str);
                console.log(result);
                if(result != null){
                    people[i].style.display = "flex";
                    count = count+1;
                }else{
                    people[i].style.display = "none";
                }
                if(count === 0){
                    document.getElementById("search-not-found").style.display = "flex";
                    document.getElementById("back-btn").style.display = "flex";
                    document.getElementById("count-msg").style.display = "none";
                    document.getElementById("show-more").style.display = "none";
                }else{
                    document.getElementById("search-not-found").style.display = "none";
                    document.getElementById("back-btn").style.display = "flex";
                }
                    document.getElementById("count").innerHTML = count;
                    document.getElementById("count-msg").style.display = "block";
            }
        }
</script>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div class="content">

    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:12px; width:40%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo
            vestibulum.</p>
    </div>

    <div class="photo-upload" id="upload-success" style="width: 30%; left:30%; top: 45%;">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame ()"><br><br>
        <p style="color:#32BDD2; font-family: roboto; font-weight: 900; font-size: 16px; letter-spacing: 1.6px; line-height: 1.9; margin-bottom: 20px;">SUCCESS</p>
        <p style="color:#5A5A5A; font-family: roboto; font-weight: 500; font-size: 14px; letter-spacing: 0.7px; line-height: 2.4; width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
        <input type="button" class="submit-btn" style="display: block; margin: 4vw auto; border: 0px;" value="DONE" onclick="groupCreated()">
    </div>


    <div class="profile-container">
        <div class="left-content">
            <div style="min-height: 5vh; background-color: #EEEEEE;"></div>
            <div class="people">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">MY
                        PROFILE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Based on
                    your profile, you will be able to connect with the best matches who share your interests. Go
                    ahead and setup your profile.</p>
            </div>
            <div class="people" style="border-bottom: solid 1px #CCCCCC; border-top: solid 1px #CCCCCC;">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;">PEOPLE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Meet the
                    community members and make new friends.</p>
            </div>
            <div class="my-profile">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;">GROUPS</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Join the groups and catch all the action. You will get suggestions based on your profile.</p>
            </div>
        </div>

        <div class="right-content">

            <div class="my-profile-options" style="padding: 2%; min-height: 35vw;" id="community-groups">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <div>
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" width="35" height="35" alt="icon" style="border-radius: 50%;" onclick="viewDropdown(this)" id="drop-down-btn1">
                            <div style="display: none; width: 188px; height: 208px; position: absolute; box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.29); background-color: #FFFFFF; right: 46.8%; border-radius: 0px 5px 5px 5px;" id="drop-down-1">
                                <a style="display: block; cursor: pointer; font-family: roboto; font-size: 12px; font-weight: 600; letter-spacing: 1.2px; color: #747474; line-height: 17px; padding-bottom: 13%; margin: 20% 0% 0% 10%;">INTEREST GROUPS</a>
                                <a style="display: block; cursor: pointer; font-family: roboto; font-size: 12px; font-weight: 600; letter-spacing: 1.2px; color: #747474; line-height: 17px; padding-bottom: 13%; margin: 13% 0% 0% 10%;">COMMUNITY GROUPS</a>
                                <a style="display: block; cursor: pointer; font-family: roboto; font-size: 12px; font-weight: 600; letter-spacing: 1.2px; color: #747474; line-height: 17px; padding-bottom: 13%; margin: 13% 0% 0% 10%;">MY GROUPS</a>
                            </div>
                        </div>
                        <span style="font-family: roboto; font-size: 14px; font-weight: 900; letter-spacing: 1.4px; margin-left: 25px; margin-top: 5px; color: #464646;">MY GROUPS</span>
                    </div>
                    <div style="display: block;" id="drop-down-btn">
                        <div style="position: relative; cursor: pointer;" >
                            <div id="filter-clear-link" style="margin-right: 15px; display: none; margin-top: 5px;">
                                <p style="color: #5A5A5A; text-align: right; font-size: 12px; font-weight: 900; letter-spacing: 0.9px; line=height: 14px;">Showing your favourites.</p>
                                <p style="color: #32BDD2; text-align: right; font-size: 11px; font-weight: 600; letter-spacing: 0.82px; line=height: 13px; margin-top: 10px; text-decoration: underline;" onclick="clearFilter()">Clear Filter</p>
                            </div>
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40" alt="drop-down" onclick="viewDropdown1()">
                            <div style="display: none; width: 170px; height: 164px; position: absolute; border: solid 0.5px #CCCCCC; box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29); background-color: #FFFFFF; border-radius: 0px 0px 10px 10px; right: 0%;" id="drop-down-menu">
                                <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 1.05px; color: #909090; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 23% 0% 0% 15%;" id="clear-link" onclick="clearFilter()">CLEAR</a>
                                <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;" id="favorite-link" onclick="filterFav()">Favourites</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="group-content" id="group-content">
                    <div class="groups-list" id="groups-list" style="display: block;">

                    <div class="invite-people" id="invite-people">
                        <div class="search-bar">
                            <input type="text" placeholder="Search…" id="search-people" style="padding: 8px 5px;; border: 0px; width: 95%; outline: none; margin-left: 10px;">
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" width="20" height="20" alt="search-btn" id="search-btn" onclick="searchPeople()">
                        </div>
                        <p style="display: none; text-align: right; margin-top: 15px; font-size: 12px; color: #464646; font-weight: 700;" id="count-msg"><span id="count">2</span> Matches found.</p>

                        <div id="snackbar-invite">
                            <p style="font-size: 12px; letter-spacing: 0.9px; text-align: left;">INVITE SENT</p>
                            <p style="font-size: 12px; letter-spacing: 0.6px; text-align: left; margin-top: 10px;">Lorem ipsum doler sit amet.</p>
                        </div>


                        <div class="search-not-found" id="search-not-found">
                            <img th:src="@{/images/extra-large-256px/search.png}" height="65" width="65" alt="search-not-found">
                            <p style="font-family: roboto; font-size: 14px; letter-spacing: 0.7px; line-height: 16px; color: #747474; font-weight: 900; margin-top: 15px;">No Results Found</p>
                            <p style="font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 14px; color: #909090; font-weight: 400; margin-top: 15px; width: 25%; text-align: center;">Sorry, we couldn’t find any results for search_keyword</p>
                        </div>

                        <div class="group-members" style="margin-top: 3vh;">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Solomon Jakes</p>
                                    <p style="font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;">Male, 21 Years</p>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="group-members favourites">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Linda Raymond</p>
                                    <div style="display: flex; align-items: center;">
                                        <img th:src="@{/images/small-16px/Artboard 1 copy 45mdpi.png}" alt="fav-one" style="margin: 0px 10px 0px 0px;" width = "13" height="12" />
                                        <p style="font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;"> Female, 23 Years</p>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="group-members">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Daisy Lake</p>
                                    <p style="font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;">Female</p>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="group-members favourites">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Diana Smith</p>
                                    <div style="display: flex; align-items: center;">
                                        <img th:src="@{/images/small-16px/Artboard 1 copy 45mdpi.png}" alt="fav-one" style="margin: 0px 10px 0px 0px;" width = "13" height="12" />
                                        <p style="font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;"></p>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="group-members">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Dan Park</p>
                                    <p style="font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;">Female, 27 Years</p>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="group-members" style="border: 0px;">
                            <div class="member">
                                <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="display: flex; justify-content: center; flex-direction: column; margin-left: 35px;">
                                    <p style="font-family: roboto; letter-spacing: 0.7px; font-size: 14px; line-height: 25px; color: #464646;" class="uname">Nora Bravos</p>
                                    <p style="display: none; font-family: roboto; letter-spacing: 0.6px; font-size: 12px; line-height: 14px; color: #909090;"></p>
                                </div>
                            </div>
                            <input type="button" class="submit-btn invite-btn" value="INVITE" style="font-weight: 900; font-size: 12px; letter-spacing: 1px; padding: 7px 25px;" onclick="invitePeople1(this)">
                            <div class="msg-sent">
                                <p style="font-size: 12px; color: #5A5A5A; letter-spacing: 0.6px; line-height: 14px; font-weight: 600;">
                                    Invitation Sent
                                </p>
                                <p style="font-size: 10px; color: #999999; letter-spacing: 0.5px; line-height: 14px; font-weight: 400;">
                                    21 July 2019
                                </p>
                            </div>
                        </div>

                        <div class="show-more" id="show-more">
                            <p class="head-text" style="font-weight: 700; margin-right: 10px; font-size: 14px;">
                                SHOW MORE
                            </p>
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="10" width="10" alt="list-button" style="margin-right: 15px; margin-bottom: 5px;">
                        </div>

                    </div>
                </div>
            </div>
            <div style="display: none; cursor: pointer; margin: 6vh 0vh 3vh 0vh;" id="back-btn">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 9@16x.png}" height="15" width="15" onclick="backToGroupView()"/>
                <p style="color: #32BDD2; font-family: roboto; font-weight: 900; font-size: 14px; margin-left: 7px; letter-spacing: 0.7px;" onclick="backToGroupView()">BACK</p>
            </div>
        </div>
    </div>
</div>
</body>
<script th:href="@{/js/community-profile.js}" type="text/javascript"></script>

</html>0