<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Community-groups</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
</head>
<script>
<!--            function viewInterestList(){-->
<!--            document.getElementById("view-interest-list").classList.toggle("show");-->
<!--            document.getElementById("drop-down-list").style.display = "none";-->
<!--            document.getElementById("drop-down-btn").src="/images/extra-large-256px/Artboard 1 copy@16x.png";-->
<!--        }-->

<!--        function viewDropDownList(){-->
<!--            console.log("entered");-->
<!--            if(document.getElementById("drop-down-list").style.display === "none"){-->
<!--                 document.getElementById("drop-down-list").style.display = "block";-->
<!--                 document.getElementById("drop-down-btn").src="/images/extra-large-256px/Artboard 1 copy 2@16x.png";-->
<!--            }else{-->
<!--                document.getElementById("drop-down-list").style.display = "none";-->
<!--                document.getElementById("drop-down-btn").src="/images/extra-large-256px/Artboard 1 copy@16x.png";-->
<!--            }-->
<!--        }-->

<!--        function goBack(){-->
<!--            document.getElementById("profile-setup").style.display = "block";-->
<!--            document.getElementById("interests-setup").style.display = "none";-->
<!--        }-->

<!--        function interestsSetup(){-->
<!--            document.getElementById("profile-setup").style.display = "none";-->
<!--            document.getElementById("interests-setup").style.display = "block";-->
<!--        }-->

<!--        function uploadPicture(){-->
<!--            document.getElementById("photo-upload").style.display = "block";-->
<!--        }-->
<!--        window.addEventListener('load', function() {-->
<!--            document.querySelector('input[type="file"]').addEventListener('change', function() {-->
<!--                if (this.files && this.files[0]) {-->
<!--                    var img = document.getElementById("upload-profile-pic");  // $('img')[0]-->
<!--                    img.src = URL.createObjectURL(this.files[0]); // set src to blob url-->
<!--                    img.onload = imageIsLoaded;-->
<!--                    var txt = document.getElementById("Upload-pic");-->
<!--                    txt.style.display = "none";-->
<!--                }-->
<!--        });-->
<!--    });-->


<!--        function closeFrame(){-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("upload-success").style.display = "none";-->
<!--        }-->

<!--        function visibilityToggle(img){-->
<!--                if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                    console.log(img.src);-->
<!--                    img.src = "/images/extra-large-256px/Artboard 1 copy 4@16x.png";-->
<!--                }-->
<!--                else{-->
<!--                    console.log(img.src);-->
<!--                    img.src = "/images/extra-large-256px/Artboard 1 copy 3@16x.png";-->
<!--                }-->
<!--         }-->

<!--        function originFrame(){-->
<!--            document.getElementById("origin-frame").style.display = "block";-->
<!--        }-->

<!--        function chooseImg(){-->
<!--           var img = document.getElementById("fileInput").click();-->
<!--           console.log("img");-->
<!--        }-->

<!--        function joinGroup(){-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-success").style.display = "block";-->
<!--        }-->
<!--        -->
<!--        function uploaded(){-->
<!--            document.getElementById("edit-part").style.visibility = "visible";-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-success").style.display = "none";-->
<!--            document.getElementById("visible-pic").style.display = "block";-->
<!--            document.getElementById("upload-pic").style.display = "none";-->
<!--            document.getElementById("upload-profile-pic").removeAttribute("onclick");-->
<!--        }-->

<!--        function uploadSuccess(){-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-success").style.display = "block";-->
<!--        }-->

<!--        function myFunction(img) {-->
<!--                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                             var x = document.getElementById("snackbar1");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--                            else{-->
<!--                             var x = document.getElementById("snackbar");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--        }-->
<!--        function myFunction1(img) {-->
<!--                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                             var x = document.getElementById("snackbar1-mobile");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--                            else{-->
<!--                             var x = document.getElementById("snackbar-mobile");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--        }-->
<!--         function myFunctionAge(img) {-->
<!--                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                             var x = document.getElementById("snackbar1-age");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--                            else{-->
<!--                             var x = document.getElementById("snackbar-age");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--        }-->
<!--         function myFunctionEmail(img) {-->
<!--                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                             var x = document.getElementById("snackbar1-email");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--                            else{-->
<!--                             var x = document.getElementById("snackbar-email");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--        }-->
<!--         function myFunctionOrigin(img) {-->
<!--                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){-->
<!--                             var x = document.getElementById("snackbar1-origin");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--                            else{-->
<!--                             var x = document.getElementById("snackbar-origin");-->
<!--                             x.className = "show";-->
<!--                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);-->
<!--                            }-->
<!--        }-->
<!--        function changePicture(){-->
<!--            if(document.getElementById("change-delete-picture").style.visibility === "hidden"){-->
<!--                var img = document.getElementById("picture-edit-btn");-->
<!--                img.src = "/images/extra-large-256px/Artboard 1 copy 53@16x.png";-->
<!--                document.getElementById("change-delete-picture").style.visibility = "visible";-->
<!--            }-->
<!--            else{-->
<!--                var img = document.getElementById("picture-edit-btn");-->
<!--                img.src = "/images/extra-large-256px/Artboard 1 copy 51@16x.png";-->
<!--                document.getElementById("change-delete-picture").style.visibility = "hidden";-->
<!--            }-->
<!--        }-->

    </script>

<script>
    function viewGroups(){
        document.getElementById("groups-list").style.display = "block";
        document.getElementById("no-groups").style.display = "none";
        document.getElementById("drop-down-btn").style.display = "inline";
    }

    function viewDropdown(){
        if(document.getElementById("drop-down-menu").style.display === "none"){
        document.getElementById("drop-down-menu").style.display = "block";
        }else{
            document.getElementById("drop-down-menu").style.display = "none";
        }
    }

    function groupView(){
        console.log("msg");
        location.replace("/community/community-group-view");
<!--        document.getElementById("group-view").style.display = "block";-->
<!--        document.getElementById("group-content").style.display = "none";-->
<!--        document.getElementById("drop-down-btn").style.display = "none";-->
    }

    function joinGroup(){
<!--            document.getElementById("upload-failed").style.display = "none";-->
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
            document.getElementById("upload-success").style.display = "block";
        }

     function closeFrame(){
<!--            document.getElementById("photo-upload").style.display = "none";-->
<!--            document.getElementById("origin-frame").style.display = "none";-->
<!--            document.getElementById("upload-failed").style.display = "none";-->
            document.getElementById("upload-success").style.display = "none";
        }
         function joinConversation(){
            location.replace("/community/community-group-conversation");
        }
         function backToGroupView(){
            location.replace("/community/community-groups");
        }
        function viewConversation(){
            var x = document.getElementById("snackbar-group");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        function requestAwaiting(){
            location.replace("/community/community-awaiting-group");
        }
        function openGroup(){
            location.replace("/community/community-open-group");
        }
        function searchGroups(){
            document.getElementById("search-not-found").style.display = "flex";
            document.getElementById("groups").style.display = "none";
            document.getElementById("back-btn").style.display = "flex";
        }
</script>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div class="content">

    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:12px; width:40%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo
            vestibulum.</p>
    </div>

<!--    <div class="photo-upload" id="photo-upload">-->
<!--        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" id="uplaod-profile-pic-close" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>-->
<!--        <p style="font-weight: 900; color:#32BDD2; font-family: roboto; font-size: 16px; letter-spacing: 1.6px; line-height: 2; margin: 60px 0px 20px 0px;">UPLOAD PHOTO</p>-->
<!--        <div style="display: flex; margin: 10px;">-->
<!--            <div class="left-part">-->
<!--                <p style="color:#747474; font-size: 16px; font-family: roboto; line-height: 1.5; font-weight: 900;">Select a file from my computer. <br><span style="font-size: 14px; font-weight: 500;">The file size should not exceed 5MB</span></p>-->
<!--                <div style="height:0px;overflow:hidden">-->
<!--                    <input type="file" id="fileInput" name="fileInput" accept="image/*"/>-->
<!--                </div>-->
<!--                <input type="button" class="submit-btn" id="profile-pic" value="BROWSE" onclick="chooseImg()" style=" padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; letter-spacing: 0.5px; margin-top: 15px; font-size: 10px;">-->
<!--            </div>-->
<!--            <div class="right-part">-->
<!--                <div style="border: solid 2px #FFFFFF; border-style: dashed; padding: 8%; margin: 4%;">-->
<!--                    <img th:src="@{/images/extra-large-256px/upload.png}" width="45" height="45" style="display:block; margin: auto;"/>-->
<!--                    <p style="color: #FFFFFF; margin: auto; text-align: center;">Drop a file here</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <input type="submit" class="submit-btn" value="DONE" style="padding: 1.5% 5% 1.5% 5%; margin-top: 50px;" onclick="upload()">-->
<!--    </div>-->

<!--    <div class="photo-upload" id="upload-failed" style="width: 30%; height: 27%; left:30%;">-->
<!--        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>-->
<!--        <p style="color:#E65959; font-family: roboto; font-weight: 900; font-size: 16px; letter-spacing: 1.6px; line-height: 1.9; margin-bottom: 20px;">FAILED</p>-->
<!--        <p style="color:#5A5A5A; font-family: roboto; font-weight: 500; font-size: 14px; letter-spacing: 0.7px; line-height: 2.4; width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>-->
<!--        <input type="button" class="submit-btn" style="display: block; background-color:#E65959; margin: 3vw auto; border: 0px;" value="Done" onclick="uploadSuccess()">-->
<!--    </div>-->

    <div class="photo-upload" id="upload-success" style="width: 30%; height: 30%; left:30%; top: 45%;">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame ()"><br><br>
        <p style="color:#32BDD2; font-family: roboto; font-weight: 900; font-size: 16px; letter-spacing: 1.6px; line-height: 1.9; margin-bottom: 20px;">SUCCESS</p>
        <p style="color:#5A5A5A; font-family: roboto; font-weight: 500; font-size: 14px; letter-spacing: 0.7px; line-height: 2.4; width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
        <input type="button" class="submit-btn" style="display: block; margin: 4vw auto; border: 0px;" value="DONE" onclick="uploaded()">
    </div>


    <div class="profile-container">
        <div class="left-content">
            <div style="min-height: 5vh; background-color: #EEEEEE;"></div>
            <div class="people">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">MY
                        PROFILE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Based on
                    your profile, you will be able to connect with the best matches who share your interests. Go
                    ahead and setup your profile.</p>
            </div>
            <div class="people" style="border-bottom: solid 1px #CCCCCC; border-top: solid 1px #CCCCCC;">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;">PEOPLE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Meet the
                    community members and make new friends.</p>
            </div>
            <div class="my-profile">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;">GROUPS</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Join the groups and catch all the action. You will get suggestions based on your profile.</p>
            </div>
        </div>


<!--        <div class="photo-upload" id="origin-frame" style="width: 30%; left: 30%; top: 98%;">-->
<!--            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>-->
<!--            <p style="color:#32BDD2; font-weight: 900; font-family: roboto; font-size: 16px; letter-spacing: 1.6px; line-height: 2; margin: 60px 0px 20px 0px;">YOUR PLACE OF ORIGIN</p>-->
<!--            <p style="color:#5A5A5A; font-size:14px; line-height: 2.4; font-family: roboto; margin-top: 20px; margin-bottom: 40px;">If you have a profile picture, your chances of making more friends will be higher. However you can turn on or turn off the visibility of your photo anytime.</p>-->
<!--            <div style="border: solid 1px #F7F4F4; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26); padding:5px; margin-right: auto: margin-left: auto; margin-bottom:40px; border-radius: 12px;">-->
<!--                <input type="text" placeholder="Hubli" style="border: 0px; padding: 10px; width: 350px; font-family:roboto; font-size: 14px; letter-spacing: 1.4px;">-->
<!--            </div>-->
<!--            <input type="button" class="submit-btn" value="DONE" style="display:block; margin: auto;" id="originInfo">-->
<!--        </div>-->


        <div class="right-content">

            <div class="my-profile-options" style="padding: 2%; min-height: 35vw;" id="community-groups">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" width="35" height="35" alt="icon" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.58); border-radius: 50%;" onclick="viewGroups()">
                        <span style="font-family: roboto; font-size: 14px; font-weight: 900; letter-spacing: 1.4px; margin-left: 25px; margin-top: 5px; color: #464646;">COMMUNITY GROUPS</span>
                    </div>
                    <div style="display: none; position: relative; cursor: pointer;" id="drop-down-btn">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40" alt="drop-down" onclick="viewDropdown()">
                    <div style="display: none; width: 170px; height: 285px; position: absolute; border: solid 0.5px #CCCCCC; box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29); background-color: #FFFFFF; border-radius: 0px 0px 10px 10px; right: 0%;" id="drop-down-menu">
                        <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 1.05px; color: #909090; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 23% 0% 0% 15%;">CLEAR</a>
                        <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;">JOINED</a>
                        <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;">REQUESTED</a>
                        <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; padding-right: 40%; padding-bottom: 13%; margin: 13% 0px 0% 15%;">INVITED</a>
                    </div>
                    </div>
                </div>

                <div class="group-content" id="group-content">
                <div style="margin-top: 8vh;" id="no-groups">
                <p style="background-color: #EEEEEE; width: 357px; padding: 15px 25px; text-align:center; display: inline; font-family:roboto; font-size: 12px; font-weight: 600; color: #505050; letter-spacing: 0.6px;">EMPTY! No community groups have been created yet.</p>
                </div>
                <div class="groups-list" id="groups-list">
                    <div class="search-bar">
                        <input type="text" placeholder="Search…" id="search-groups" style="padding: 8px 5px;; border: 0px; width: 95%; outline: none; margin-left: 10px;">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" width="20" height="20" alt="search-btn" id="search-btn" onclick="searchGroups()">
                    </div>

                        <div class="search-not-found" id="search-not-found">
                                <img th:src="@{/images/extra-large-256px/search.png}" height="65" width="65" alt="search-not-found">
                                <p style="font-family: roboto; font-size: 14px; letter-spacing: 0.7px; line-height: 16px; color: #747474; font-weight: 900; margin-top: 15px;">No Results Found</p>
                                <p style="font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 14px; color: #909090; font-weight: 400; margin-top: 15px; width: 25%; text-align: center;">Sorry, we couldn’t find any results for search_keyword</p>
                        </div>


                    <div class="groups" id="groups">
                    <div class="invited" onclick="groupView()">
                        <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                        <p style="color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">MOVIE NIGHT - LION KING</p>
                        <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                            <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                            <div style="margin-left: 5px; margin-bottom: 5px;">
                                <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Daisy Lake</p>
                                <p class="notification-details" style="color: #505050; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">Today 11:38 AM (2 Hours ago)</p>
                            </div>
                        </div>
                        <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                        </p>
                        <div class="notification" style="display: flex; padding: 5px 10px 5px 25px; width: 83%; display: flex; align-items: center; background-color: #FAFAFA; margin-top: 15px;">
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30" height="30" alt="search-btn" id="notification-icon" style="border-radius: 50%;">
                            <span style="color: #505050; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 35px; text-align: center;" id="notification-msg">You have been invited to join this group.</span>
                        </div>
                    </div>

                        <div class="accepted">
                            <div>
                            <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                            <p style="color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">HAMPI TRIP</p>
                            <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="margin-left: 5px; margin-bottom: 5px;">
                                    <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Nora Bravos</p>
                                    <p class="notification-details" style="color: #272727; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">2nd July 2019 06:21 PM (4 Days ago)</p>
                                </div>
                            </div>
                            <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                            </p>
                            <div class="notification" style="display: flex; padding: 0px 10px 5px 25px; width: 83%; display: flex; align-items: center; margin-top: 15px;">
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 31@16x.png}" width="30" height="30" alt="search-btn" style="border-radius: 50%;">
                                <span style="color: #BEBAA4; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 10px; text-align: center; border-top: solid 0.5px #BEBAA4; padding-top: 10px;" id="accepted-msg">Your request has been accepted.</span>
                            </div>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 48@16x.png}" width="30" height="30" alt="search-btn" style="border-radius: 50%;" onclick="joinConversation()">
                            </div>
                       </div>

                        <div class="accepted">
                            <div>
                                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                                <p style="color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">HOLI CELEBRATIONS</p>
                                <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 10@16x.png}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                                    <div style="margin-left: 5px; margin-bottom: 5px;">
                                        <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Eddie Murphy</p>
                                        <p class="notification-details" style="color: #272727; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">2nd July 2019 06:21 PM (4 Days ago)</p>
                                    </div>
                                </div>
                                <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 48@16x.png}" width="30" height="30" alt="search-btn" style="border-radius: 50%;">
                            </div>
                        </div>

                        <div class="accepted">
                            <div>
                                <span style="display:none; background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                                <p style="color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;  margin-top: 20px;">STAND-UP COMEDY</p>
                                <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 10@16x.png}" width="40" height="40" alt="search-btn" style="border-radius: 50%;">
                                    <div style="margin-left: 5px; margin-bottom: 5px;">
                                        <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">YOU</p>
                                        <p class="notification-details" style="color: #272727; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">2nd July 2019 06:21 PM (4 Days ago)</p>
                                    </div>
                                </div>
                                <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                                </p>
                            </div>
                            <div id="snackbar-group">
                                You have been removed from the group.
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 48@16x.png}" width="30" height="30" alt="search-btn" id="view-notification" style="border-radius: 50%;" onclick="viewConversation()">
                            </div>
                        </div>

                        <div class="accepted" onclick="requestAwaiting()">
                            <div>
                                <span style="display: none; background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                                <p style="margin-top: 20px; color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">POT LUCK</p>
                                <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                    <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                                    <div style="margin-left: 5px; margin-bottom: 5px;">
                                        <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Nora Bravos</p>
                                        <p class="notification-details" style="color: #272727; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">2nd July 2019 06:21 PM (4 Days ago)</p>
                                    </div>
                                </div>
                                <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                                </p>
                                <div class="notification" style="display: flex; padding: 0px 10px 5px 25px; width: 83%; display: flex; align-items: center; margin-top: 15px;">
                                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 32@16x.png}" width="30" height="30" alt="search-btn" id="accepted-icon" style="border-radius: 50%;">
                                    <span style="color: #BEBAA4; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 10px; text-align: center; border-top: solid 0.5px #BEBAA4; padding-top: 10px;" alt="accepted-msg">You have requested to join this group.</span>
                                </div>
                            </div>
                        </div>

                        <div class="accepted" onclick="openGroup()">
                            <div>
                                <span style="display: none; background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                                <p style="color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600; margin-top: 20px;">GEEKS</p>
                                <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                    <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                                    <div style="margin-left: 5px; margin-bottom: 5px;">
                                        <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Markus Lawless</p>
                                        <p class="notification-details" style="color: #272727; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">2nd July 2019 06:21 PM (4 Days ago)</p>
                                    </div>
                                </div>
                                <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                                </p>
                                <div class="notification" style="display: flex; padding: 0px 10px 5px 25px; width: 83%; display: flex; align-items: center; margin-top: 15px;">
                                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30" height="30" alt="accepted-icon" style="border-radius: 50%;">
                                    <span style="color: #505050; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 10px; text-align: center; border-top: solid 0.5px #505050; padding-top: 10px;" alt="accepted-msg">Send a request to join this group.</span>
                                </div>
                            </div>
                        </div>

                        <div class="invited" style="background-color: #EEEEEE; border: solid 0.25 #CCCCCC; margin-top: 4vh;">
                            <span style="display:none; background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                            <p style="margin-top: 20px; color: #505050; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">MOVIE NIGHT - LION KING</p>
                            <div class="group-admin" style="display: flex; align-items: center; padding: 10px 0px;">
                                <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">
                                <div style="margin-left: 5px; margin-bottom: 5px;">
                                    <p class="group-admin-username" style="color: #505050; font-family: robot; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;">Daisy Lake</p>
                                    <p class="notification-details" style="color: #505050; font-family: roboto; font-size: 11px; letter-spacing: 0.55px; line-height: 1.3;">Today 11:38 AM (2 Hours ago)</p>
                                </div>
                            </div>
                            <p style="color: #505050; width: 75%; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1.8;">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien, ultricies.
                            </p>
                            <div class="notification" style="display: flex; padding: 5px 10px 5px 25px; width: 83%; display: flex; align-items: center; background-color: #BEBAA4; margin-top: 15px;">
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 25@16x.png}" width="30" height="30" alt="notification-icon" style="border-radius: 50%;">
                                <span style="color: #FFFFFF; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 35px; text-align: center;" alt="notification-msg">You have been invited to join this group.</span>
                            </div>
                        </div>

                        <div class="show-more">
                            <p class="head-text" style="font-weight: 700; margin-right: 10px; font-size: 12px;">
                                SHOW MORE
                            </p>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="10" width="10" alt="list-button" style="margin-right: 15px; margin-bottom: 5px;">
                        </div>

                    </div>
                    </div>
                </div>
                <div style="display: none; cursor: pointer; margin: 6vh 0vh 3vh 0vh;" id="back-btn">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 9@16x.png}" height="15" width="15" onclick="backToGroupView()"/>
                    <p style="color: #32BDD2; font-family: roboto; font-weight: 900; font-size: 14px; margin-left: 7px; letter-spacing: 0.7px;" onclick="backToGroupView()">BACK</p>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script th:href="@{/js/community-profile.js}" type="text/javascript"></script>

</html>0