<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Community-profile</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
    <script>
            function viewInterestList(){
            document.getElementById("view-interest-list").classList.toggle("show");
        }

        function viewDropDownList(){
            console.log("entered");
            if(document.getElementById("drop-down-list").style.display === "none"){
                 document.getElementById("drop-down-list").style.display = "block";
                 document.getElementById("drop-down-btn").src="/images/extra-large-256px/Artboard 1 copy 2@16x.png";
            }else{
                document.getElementById("drop-down-list").style.display = "none";
                document.getElementById("drop-down-btn").src="/images/extra-large-256px/Artboard 1 copy@16x.png";
            }
        }

        function goBack(){
            document.getElementById("profile-setup").style.display = "block";
            document.getElementById("interests-setup").style.display = "none";
        }

        function interestsSetup(){
            document.getElementById("profile-setup").style.display = "none";
            document.getElementById("interests-setup").style.display = "block";
        }

        function uploadPicture(){
            document.getElementById("photo-upload").style.display = "block";
        }

        function closeFrame(){
            document.getElementById("photo-upload").style.display = "none";
            document.getElementById("origin-frame").style.display = "none";
            document.getElementById("upload-failed").style.display = "none";
            document.getElementById("upload-success").style.display = "none";
        }

        function visibilityToggle(img){
                if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                    console.log(img.src);
                    img.src = "/images/extra-large-256px/Artboard 1 copy 4@16x.png";
                }
                else{
                    console.log(img.src);
                    img.src = "/images/extra-large-256px/Artboard 1 copy 3@16x.png";
                }
         }

        function originFrame(){
            document.getElementById("origin-frame").style.display = "block";
        }

        function chooseImg(){
           var img = document.getElementById("fileInput").click();
           console.log("img");
        }

        function upload(){
            document.getElementById("upload-failed").style.display = "block";
            document.getElementById("photo-upload").style.display = "none";
            document.getElementById("origin-frame").style.display = "none";
            document.getElementById("upload-success").style.display = "none";
        }

        function uploadSuccess(){
            document.getElementById("upload-failed").style.display = "none";
            document.getElementById("photo-upload").style.display = "none";
            document.getElementById("origin-frame").style.display = "none";
            document.getElementById("upload-success").style.display = "block";
        }

        function myFunction(img) {
                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                             var x = document.getElementById("snackbar1");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                            else{
                             var x = document.getElementById("snackbar");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
        }
        function myFunction1(img) {
                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                             var x = document.getElementById("snackbar1-mobile");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                            else{
                             var x = document.getElementById("snackbar-mobile");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
        }
         function myFunctionAge(img) {
                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                             var x = document.getElementById("snackbar1-age");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                            else{
                             var x = document.getElementById("snackbar-age");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
        }
         function myFunctionEmail(img) {
                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                             var x = document.getElementById("snackbar1-email");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                            else{
                             var x = document.getElementById("snackbar-email");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
        }
         function myFunctionOrigin(img) {
                            if(img.src === "http://localhost:8000/images/extra-large-256px/Artboard%201%20copy%203@16x.png"){
                             var x = document.getElementById("snackbar1-origin");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
                            else{
                             var x = document.getElementById("snackbar-origin");
                             x.className = "show";
                             setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                            }
        }

    </script>
</head>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div class="content">

    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:12px; width:50%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo
            vestibulum.</p>
    </div>

    <div class="photo-upload" id="photo-upload">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 50@16x.png}" height="35" width="35" id="uplaod-profile-pic-close" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>
        <p style="color:#32BDD2; font-family: roboto; font-size: 16px; letter-spacing: 1.6px; line-height: 2; margin: 20px 0px 10px 0px;">UPLOAD PHOTO</p>
        <div style="display: flex;">
            <div class="left-part">
                <p style="color:#747474; font-size: 14px; font-family: roboto; line-height: 1.5;">Select a file from my computer. <br><span style="font-size: 10px;">The file size should not exceed 5MB</span></p>
                <div style="height:0px;overflow:hidden">
                    <input type="file" id="fileInput" name="fileInput" accept="image/*"/>
                </div>
                <input type="button" class="submit-btn" id="profile-pic" value="BROWSE" onclick="chooseImg()" style=" padding-right: 10px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; letter-spacing: 0.5px; margin-top: 15px; font-size: 10px;">
            </div>
            <div class="right-part">
                <div style="border: solid 2px #FFFFFF; border-style: dashed; padding: 8%; margin: 4%;">
                    <img th:src="@{/images/extra-large-256px/upload.png}" width="45" height="45" style="display:block; margin: auto;"/>
                    <p style="color: #FFFFFF; margin: auto; text-align: center;">Drop a file here</p>
                </div>
            </div>
        </div>
        <input type="submit" class="submit-btn" value="DONE" style="padding: 1% 3% 1% 3%; margin-top: 50px;" onclick="upload()">
    </div>

    <div class="photo-upload" id="upload-failed" style="width: 30%; height: 27%;">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 50@16x.png}" height="35" width="35" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>
        <p style="color:#E65959; font-family: roboto; font-weight: 700; font-size: 16px; letter-spacing: 1.6px; line-height: 1.9; margin-bottom: 20px;">FAILED</p>
        <p style="color:#5A5A5A; font-family: roboto; font-weight: 500; font-size: 14px; letter-spacing: 0.7px; line-height: 2.4; width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
        <input type="button" class="submit-btn" style="display: block; background-color:#E65959; margin: 3vw auto; border: 0px;" value="Done" onclick="uploadSuccess()">
    </div>

    <div class="photo-upload" id="upload-success" style="width: 30%; height: 27%;">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 50@16x.png}" height="35" width="35" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>
        <p style="color:#32BDD2; font-family: roboto; font-weight: 700; font-size: 16px; letter-spacing: 1.6px; line-height: 1.9; margin-bottom: 20px;">SUCCESS</p>
        <p style="color:#5A5A5A; font-family: roboto; font-weight: 500; font-size: 14px; letter-spacing: 0.7px; line-height: 2.4; width: 80%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
        <input type="button" class="submit-btn" style="display: block; margin: 3vw auto; border: 0px;" value="Done">
    </div>


    <div class="profile-container">
        <div class="left-content">
            <div class="my-profile" style="width:91%;">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">MY
                        PROFILE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Based on
                    your profile, you will be able to connect with the best matches who share your interests. Go
                    ahead and setup your profile.</p>
            </div>
            <div class="people" style="border-bottom: solid 1px #CCCCCC;">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;">PEOPLE</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Meet the
                    community members and make new friends.</p>
            </div>
            <div class="people">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;">GROUPS</span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">Meet the
                    community members and make new friends.</p>
            </div>
        </div>


        <div class="photo-upload" id="origin-frame" style="width: 30%; left: 30%; top: 90%;">
            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 50@16x.png}" height="35" width="35" style="float: right; margin-top: 10px; margin-bottom: 2vw; border-radius: 50%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);" onclick="closeFrame()"><br><br>
            <p style="color:#32BDD2; font-family: roboto; font-size: 16px; letter-spacing: 1.6px; line-height: 2; margin: 20px 0px 10px 0px;">YOUR PLACE OF ORIGIN</p>
            <p style="color:#5A5A5A; font-size:14px; line-height: 2.4; font-family: roboto; margin-top: 20px; margin-bottom: 40px;">If you have a profile picture, your chances of making more friends will be higher. However you can turn on or turn off the visibility of your photo anytime.</p>
            <div style="border: solid 1px #F7F4F4; box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26); padding:5px; margin-right: auto: margin-left: auto; margin-bottom:40px; border-radius: 12px;">
                <input type="text" placeholder="Ex: Hubli" style="border: 0px; padding: 10px; width: 350px; font-family:roboto; font-size: 14px; letter-spacing: 1.4px;">
            </div>
            <input type="button" class="submit-btn" value="DONE" style="margin-right: auto: margin-left: auto; margin-bottom:20px;" id="originInfo">
        </div>


        <div class="right-content">
            <div class="my-profile-options" style="padding:2%;" id="profile-setup">
                <p
                        style="display:block; color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-bottom: 20px; letter-spacing: 1.4px;">
                    MY PROFILE<br><br></p>
                <div
                        style="display:flex; justify-content: center; width:100%; align-items: center; flex-direction: column;">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 40@16x.png}" height="130" width="130"
                         id="upload-profile-pic" onclick="uploadPicture()">
                    <p style="color:#464646; font-family: roboto: font-weight: 500; margin-top: 15px;letter-spacing: 1.4px;">UPLOAD YOUR
                        PHOTO</p>
                </div>

                <div class="user-details">
                    <div>
                    <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400;letter-spacing: 1.05px;">
                        NAME<br>
                    </p>
                    <p
                            style="color:#505050; font-family:roboto; font-size:16px; font-weight: 700; margin-top:10px; letter-spacing: 1.2px;">
                        John Doe
                    </p>
                    </div>
                </div>
                <div class="user-details">
                    <div>
                        <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; letter-spacing: 1.05px;">
                            GENDER<br>
                        </p>
                        <p
                                style="color:#505050; font-family:roboto; font-size:16px; font-weight: 700; margin-top:10px; letter-spacing: 1.2px;">
                            MALE
                        </p>
                    </div>
                    <div id="snackbar">
                        HIDDEN - Others can’t see your Gender and you can’t see others Gender.
                    </div>
                    <div id="snackbar1">
                        Visible - Others can see your Gender and you can see others Gender.
                    </div>
                    <div>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 4@16x.png}" width="45" height="45"  class="hideshow" onclick="visibilityToggle(this); myFunction(this)">
                    </div>
                </div>
                <div class="user-details">
                    <div>
                        <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; letter-spacing: 1.05px;">
                            AGE<br>
                        </p>
                        <p
                                style="color:#505050; font-family:roboto; font-size:16px; font-weight: 700; margin-top:10px; letter-spacing: 1.05px;">
                            33 years
                        </p>
                    </div>
                    <div id="snackbar-age">
                        HIDDEN - Others can’t see your Age and you can’t see others Age.
                    </div>
                    <div id="snackbar1-age">
                        Visible - Others can see your Age and you can see others Age.
                    </div>
                    <div>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 3@16x.png}" width="45" height="45" class="hideshow" onclick="visibilityToggle(this); myFunctionAge(this)">
                    </div>
                </div>
                <div class="user-details">
                    <div>
                        <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; letter-spacing: 1.05px;">
                            MOBILE NUMBER<br>
                        </p>
                        <p
                                style="color:#505050; font-family:roboto; font-size:16px; font-weight: 700; margin-top:10px; letter-spacing: 1.2px;">
                            9090909090
                        </p>
                    </div>
                    <div id="snackbar-mobile">
                        HIDDEN - Others can’t see your Mobile Number and you can’t see others Mobile Number.
                    </div>
                    <div id="snackbar1-mobile">
                        Visible - Others can see your Mobile Number and you can see others Mobile Number.
                    </div>
                    <div>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 4@16x.png}" width="45" height="45"
                             class="hideshow" onclick="visibilityToggle(this); myFunction1(this)">
                    </div>
                </div>
                <div class="user-details">
                    <div>
                        <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; letter-spacing: 1.05px;">
                            EMAIL<br>
                        </p>
                        <p
                                style="color:#505050; font-family:roboto; font-size:16px; font-weight: 700; margin-top:10px; letter-spacing: 1.05px;">
                            johndoe@gmail.com

                        </p>
                    </div>
                    <div id="snackbar-email">
                        HIDDEN - Others can’t see your Email and you can’t see others Email.
                    </div>
                    <div id="snackbar1-email">
                        Visible - Others can see your Email and you can see others Email.
                    </div>

                    <div>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 3@16x.png}" width="45" height="45"
                             class="hideshow" onclick="visibilityToggle(this); myFunctionEmail(this)">
                    </div>
                </div>
                <div class="user-details">
                    <div>
                        <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; margin-bottom: 10px; letter-spacing: 1.05px;">
                            YOUR PLACE OF ORIGIN<br>
                        </p>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 5@16x.png}" width="25" height="25"
                             id="place-origin" onclick="originFrame()" style="cursor: pointer;">
                    </div>

                    <div id="snackbar-origin">
                        HIDDEN - Others can’t see your Origin and you can’t see others Origin.
                    </div>
                    <div id="snackbar1-origin">
                        Visible - Others can see your Origin and you can see others Origin.
                    </div>

                    <div>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 4@16x.png}" width="45" height="45"
                             class="hideshow" onclick="visibilityToggle(this); myFunctionOrigin(this)">
                    </div>
                </div>
                <div>

                    <div style="display:flex; justify-content:space-between; align-items:center; margin-top:35px; padding-bottom: 20px;">
                        <div style="display:flex;">
                            <p style="color:#747474; font-size:16px; font-family:roboto; font-weight: 400; letter-spacing: 1.05px;">
                                MY INTERESTS<br>
                            </p>
                            <span style="background-color:#E65959; padding: 5px; border-radius: 50%; margin-bottom: 15px; margin-left: 10px;"></span>
                        </div>
                        <div>
                            <input type="button" value="SETUP" class="submit-btn" onclick="interestsSetup()">
                        </div>
                    </div>

                </div>
            </div>


            <div class="my-profile-options" style="padding:2%;" id="interests-setup">
                <div style="display:flex; justify-content:space-between; align-items: center;">
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 12@16x.png}" height="40" width="40" alt="back-buttona" onclick="goBack()">
                        <div style="margin-left:20px;">
                            <p style="display:block; color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-bottom: 20px; letter-spacing: 1.4px; line-height: 5px;">
                                MY INTERESTS<br><br></p>
                            <p style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.3px; line-height: 1;">Add interests to enhance your GuestJini experience.</p>
                        </div>
                        </div>
                    <span style="cursor: pointer; color:#32BDD2; font-family:robot; font-size: 12px; letter-spacing:0.3px; line-height:1;" id="my-Interest-List" onclick="viewInterestList()"><u>View My Interests</u></span>
                </div>

                <div class="view-interest-list" id="view-interest-list">
                    <div style="display: block; border-bottom: solid #CCCCCC 0.5px; padding-bottom: 10px;">
                        <a style="display:block; color:#464646; font-family: roboto; font-size: 12px; letter-spacing: 1.2px; line-height: 1.4; text-decoration: none;" href="#">Fitness</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Gym</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Morning Walk</a>
                    </div>
                    <div style="display: block; border-bottom: solid #CCCCCC 0.5px; padding-bottom: 10px;">
                        <a style="display:block; color:#464646; font-family: roboto; font-size: 12px; letter-spacing: 1.2px; line-height: 1.4; text-decoration: none; padding: 20px 0px 10px 0px;" href="#">Photography</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Adventure Photography</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Panaroma</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Cityscape Photography</a>
                    </div>
                    <div style="display: block; padding-bottom: 10px;">
                        <a style="display:block; color:#464646; font-family: roboto; font-size: 12px; letter-spacing: 1.2px; line-height: 1.4; text-decoration: none; padding: 20px 0px 10px 0px;" href="#">Film</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Action Thriller</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Comedy</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Horror</a>
                        <a style="display:block; color:#909090; font-family: roboto; font-size: 10px; letter-spacing: 0.5px; line-height: 1.1; text-decoration: none; padding: 10px 0px 10px 0px;" href="#">Mystery/Drama</a>
                    </div>
                </div>

                <div class="check-list" style="margin-top:8%;">
                    <p class="head-text">
                        Adventure - Outdoor
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;" class="drop-down-btn" id="drop-down-btn" onclick="viewDropDownList()">
                </div>

                <div class="drop-down-list" id="drop-down-list">
                <form class="drop-down-form">
                    <div class="container" style="display: flex; border-bottom: solid 0.5px #CCCCCC; justify-content: space-between; align-items: center; margin: 10px 30px 30px 30px; padding-bottom: 15px;">
                        <span style="color: #747474; font-family: roboto; font-size: 16px;"> Hiking</span><input type="checkbox" name="adventure-outdoor-hiking" value="hiking">
                    </div>
                    <div class="container" style="display: flex; border-bottom: solid 0.5px #CCCCCC; justify-content: space-between; align-items: center; margin: 10px 30px 30px 30px; padding-bottom: 15px;">
                        <span style="color: #747474; font-family: roboto; font-size: 16px;"> Biking</span><input type="checkbox" name="adventure-outdoor-hiking" value="hiking">
                    </div>
                    <div class="container" style="display: flex; border-bottom: solid 0.5px #CCCCCC; justify-content: space-between; align-items: center; margin: 10px 30px 30px 30px; padding-bottom: 15px;">
                        <span style="color: #747474; font-family: roboto; font-size: 16px;"> Cycling</span><input type="checkbox" name="adventure-outdoor-hiking" value="hiking">
                    </div>
                    <div class="container" style="display: flex; border-bottom: solid 0.5px #CCCCCC; justify-content: space-between; align-items: center; margin: 10px 30px 30px 30px; padding-bottom: 15px;">
                        <span style="color: #747474; font-family: roboto; font-size: 16px;"> Camping</span><input type="checkbox" name="adventure-outdoor-hiking" value="hiking">
                    </div>
                </form>
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Adventure - Indoor <span style="color: #747474; font-weight: 700;"> (02)</span>
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Fitness  <span style="color: #747474; font-weight: 700;"> (02)</span>
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Photography <span style="color: #747474; font-weight: 700;"> (03)</span>
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Writing
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>


                <div class="check-list">
                    <p class="head-text">
                        Reading
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Dance <span style="color: #747474; font-weight: 700;"> (03)</span>
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Craft
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="check-list">
                    <p class="head-text">
                        Career and Business <span style="color: #747474; font-weight: 700;"> (01)</span>
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

                <div class="show-more">
                    <p class="head-text" style="font-weight: 700; margin-right: 10px;">
                        SHOW MORE
                    </p>
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="15" width="15" alt="list-button" style="margin-right: 15px;">
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script th:href="@{/js/community-profile.js}" type="text/javascript"></script>

</html>