<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>People-Details</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/PeopleList.css}" rel="stylesheet">


    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</head>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>
<div class="content">
    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:12px; width:50%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.
        </p>
    </div>

    <div class="profile-container">
        <div class="left-content">
            <div class="people" style="width:91%;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;"><b>MY PROFILE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:95%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Based on your profile, you will be able to connect</br> with the best matches who share your interests.
                    </br> Go ahead and setup your profile.</p>
            </div>
            <div class="my-profile" style="border-bottom: solid 1px #CCCCCC;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;"><b>PEOPLE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
            <div class="people">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;"><b>GROUPS</b></span>
                <p style="color:#747474; font-family:roboto; font-size:12px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
        </div>

        <div class="right-content-details">
            <div class="right">
            <div class="my-profile-options" style="padding:2%;" id="profile-setup">
                <p
                        style="display:block; color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-bottom: 20px; letter-spacing: 1.4px;">
                    MY PROFILE<br><br></p>
                <div
                        style="display:flex; justify-content: center; width:100%; align-items: center; flex-direction: column; margin-left: 40%;">
                    <img th:src="@{/images/profile-pic.jpg}" height="54" width="54" style="border-radius: 50%;">
                    <p style="color:#464646; font-family: roboto: font-weight: 500; margin-top: 15px;letter-spacing: 1.4px;">John Doe</p>
                    <p style="color:#909090;">Male</p>
                </div>
                 <div class="like">
                    <div class="like-blue">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="54" width="54" style="border-radius: 50%;margin-left: 21%">
                        <p style="color:#FFFFFF; margin-left: 21%;font-weight:600;">Add to </br>favourites</p>
                    </div>
                     <div style="margin-left:8%;">
                    <p style="color:#747474; letter-spacing:0.6px" >MOBILE</p>
                    <p style="color:#505050; font-weight:600;letter-spacing:0.7px;">9090909090</p>
                           &nbsp;
                    <p style="color:#747474;letter-spacing:0.6px">EMAIL</p>
                    <p style="color:#505050;font-weight:600;letter-spacing:0.7px;">johndoe@gmail.com</p>
                     </div>
                </div>


                <div style="color:#FFFFFF; border:0.5px solid #32BDD2; width: 165%; height: 535.6px;margin-top: 6%;margin-left: 12%;">
                    <div style="background-color:#32BDD2; width:421px; height:37px; border:0.5px solid #32BDD2;width: 847px;height:65px">
                        <p style="color:#FFFFFF; font-size:16px; letter-spacing:1.05px;padding: 3%;font-weight:1000;font-style:Roboto;">Common Interests</p>
                        <div style="border-bottom:0.5px solid #CCCCCC;margin-left: 6%;">
                            <p style="color:#32BDD2; font-size:12px; padding: 5%;letter-spacing: 1.2px;font-weight: 1000;">OUTDOOR ADVENTURES</p>
                            <p style="color:#909090; font-size:12px; letter-spacing:0.6px;margin-left: 3%;font-weight: 600;padding: 2%;">Cycling</p>
                        </div>

                        <div style="border-bottom:0.5px solid #CCCCCC;margin-left: 6%;padding: 2%;">
                            <p style="color:#909090; font-size:12px; letter-spacing:0.6px;font-weight: 550;padding: 3%;">Hiking</p>
                            <p style="color:#32BDD2; font-size:12px; letter-spacing:1.2px;font-weight:1000; padding:3%;">HOBBIES</p>
                            <p style="color:#909090; font-size:12px; letter-spacing:0.6px;font-weight: 550;padding: 3%;">Cooking</p>
                        </div>
                       <p style="color:#909090; font-size:12px; letter-spacing:0.6px;margin-left: 5%; font-weight: 550;padding: 5%">Gardening</p>

                    <div style="color:#FFFFFF;  border:0.5px solid #CCCCCC; width: 165%; height: 535.6px;margin-top: 6%;">
                        <div style="background-color:#EEEEEE; width:421px; ">
                            <p style="color:#5A5A5A; font-size:14px; letter-spacing:1.05px;padding: 3%;font-weight:1000;font-style:Roboto;border:0.5px solid #CCCCCC;">Other Interests</p></div>
                            <div style="border-bottom:0.5px solid #CCCCCC;margin-left: 6%;">
                                <p style="color:#747474; font-size:12px; padding: 5%;letter-spacing: 1.2px;font-weight: 1000;">TECH</p>
                                <p style="color:#909090; font-size:12px; letter-spacing:0.6px;margin-left: 3%;font-weight: 600;padding: 2%;">Artificial Intelligence</p>
                            </div>
                            <div style="margin-left: 6%;padding: 2%;">
                                <p style="color:#909090; font-size:12px; letter-spacing:0.6px;font-weight: 550;padding: 3%;">Robotics</p>
                            </div>

                    </div>
                        <div style="display:flex; align-items:center; justify-content:space-between;margin-top: 8%;">
                            <img  class="drop-icon" th:src="@{/images/extra-large-256px/Artboard 1 copy 9@16x.png}" height="6" width="10"/>
                            <p onclick="loginFunction2()" style="color:#32BDD2; font-size:14px;font-weight: 600;ssmargin-top: 1%;margin-right: 84%; ">BACK</p>
                            <script>
                        function loginFunction2() {
                            window.location = src = "/community/people-list";
                        }
                    </script>
                        </div>
                    </div>

</body>

</html>