<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>People-list</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/PeopleList.css}" rel="stylesheet">

    <script>

         function myFunction1() {
            document.getElementById("press-like").style.display = "none";
            document.getElementById("press-unlike").style.display = "block";

        }

         function unliking() {
            document.getElementById("press-like").style.display = "block";
            document.getElementById("press-unlike").style.display = "none";

        }
      function favourites(){
            document.getElementById("filter-clear-link").style.display = "inline-block";
            document.getElementById("drop-down-menu").style.display = "none";
            var i, j;
            for(i=0; i<all.length; i++){
                all[i].style.display = "none";
            }
            for(j=0; j<fav.length; j++){
                fav[j].style.display = "flex";
            }
       }
             document.getElementById("people-filter-clear").style.display = "block";
                document.getElementById("drop-down-menu").style.display = "none";

   function viewDropdown(){
        if(document.getElementById("drop-down-menu").style.display === "none"){
        document.getElementById("drop-down-menu").style.display = "block";
        }else{
            document.getElementById("drop-down-menu").style.display = "none";
        }
    }
     window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
 function clearFilter(){
            var all = document.getElementsByClassName("group-members");
            document.getElementById("drop-down-menu").style.display = "none";
            document.getElementById("filter-clear-link").style.display = "none";
            var i, j;
            for(i=0; i<all.length; i++){
                all[i].style.display = "flex";
            }
       }

    </script>

</head>

<body>
<header>
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>
<div class="people-content">
    <div class="people-community-desc">
        <span class="people-community">COMMUNITY</span>
        <p class="people-lorem-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.
        </p>
    </div>

    <div class="people-profile-container">
        <div class="people-left-content">
            <div class="people">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>MY PROFILE</b> </span>
                <p class="people-my-profile-details">
                    Based on your profile, you will be able to connect</br> with the best matches who share your interests.
                    </br> Go ahead and setup your profile.</p>
            </div>
            <div class="people-my-profile">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>PEOPLE</b> </span>
                <p class="people-my-profile-details">Meet the community members and make new friends.</p>
            </div>
            <div class="people">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>GROUPS</b></span>
                <p class="people-my-profile-details">Join the groups and catch all the action. You will</br> get suggestions based on your profile.</p>
            </div>
        </div>

        <div class="people-right-content">
            <div>
            <div class="people-my-profile-options">
                <p class="people-community">
                    PEOPLE</p>

                <div class="people-filter-part">
                    <div class="people-filter" >
                        <div class="people-load-favourites" id="filter-clear-link">
                            <p class="people-show-favourites" style="">Showing your favourites.</p>
                            <p class="people-clear-filter" onclick="clearFilter()">Clear Filter</p>
                        </div>
                        <img class="people-filter-icon" th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40" alt="drop-down" onclick="viewDropdown()">
                        <div class="people-filter-dropdown" id="drop-down-menu">
                            <a class="people-clear" id="clear-link" onclick="clearFilter()">CLEAR</a>
                            <a class="people-favourites" onclick="favourites()">Favourites</a>
                        </div>
                    </div>
                </div>
            </div>

<!--                <div class="people-filter-icon" id="showfavourites">-->
<!--                    <div style="position: relative; cursor: pointer;" >-->
<!--                        <div id="people-filter-clear" style="margin-right: 15px; display: none; margin-top: 5px;">-->
<!--                            <p style="color: #5A5A5A; text-align: right; font-size: 12px; font-weight: 900; letter-spacing: 0.9px; line=height: 14px;">Showing your favourites.</p>-->
<!--                            <p style="color: #32BDD2; text-align: right; font-size: 11px; font-weight: 600; letter-spacing: 0.82px; line=height: 13px; margin-top: 10px; text-decoration: underline;" onclick="clearFilter()">Clear Filter</p>-->
<!--                        </div>-->
<!--                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40" alt="drop-down" onclick="viewDropdown()">-->
<!--                        <div class="people-filter-dropdown" id="drop-down-menu">-->
<!--                            <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 1.05px; color: #909090; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 23% 0% 0% 15%;"  >CLEAR</a>-->
<!--                            <a style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;"  onclick="favourites()">Favourites</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="people-search-box-main">
                    <div class="people-search-box">
                        <input onclick="peopleSearch()" class="box1" type="text" name="un" placeholder="Search..." size="48"
                               onfocus="this.placeholder=''" onblur="this.placeholder='Search...'">
                        <script>
                      function peopleSearch() {
                        window.location = src = "/community/community-groups/people-search";                    }
                       </script>
                    </div>
                    <div class="people-search-icon">
                        <img  th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" height="25" width="25" onclick="loginFunction1()" >
                        <script>
                      function loginFunction1() {
                        window.location = src = "/community/community-groups/people-search";                    }
                </script>
                    </div>
                </div>

            <div class="people-user-details" onclick="loginFunction2()">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                    <p class="people-names">John Doe <br>Male
                    </p>
                    <script>
                        function loginFunction2() {
                            window.location = src = "/community/community-groups/people-details";
                        }
                    </script>
                    <span class="people-dot"></span>
                </div>
            </div>
            <div class="people-ratings">
                <img id="press-like" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" onclick="myFunction1()" >
                <img class="people-unlike" id="press-unlike" th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" onclick="unliking()">
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">12/12</span>
                </div>
                <div class="people-border-bottom">
            </div>


            <div class="people-user-details">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                    <p class="people-names">Peter Law <br> Male
                    </p>
                </div>
            </div>
            <div class="people-ratings">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">8/12</span>
            </div>
                <div class="people-border-bottom">
            </div>

            <div class="people-user-details">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; margin-left: 3%">
                    <p class="people-names">Luke Ray<br> Male</p>
                </div>
            </div>
            <div class="people-ratings">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28">
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">5/12</span>
            </div>
                <div class="people-border-bottom">
            </div>

            <div class="people-user-details">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                    <p class="people-names">Daisy Lake <br> Female</p>
                </div>
            </div>
            <div class="people-ratings">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" >
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">2/12</span>
            </div>
                <div class="people-border-bottom">
            </div>

            <div class="people-user-details">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                    <p class="people-names">Jeret Quartz<br>Female</p>
                </div>
            </div>
            <div class="people-ratings">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" >
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">1/12</span>
            </div>
                <div class="people-border-bottom">
            </div>

            <div class="people-user-details">
                <div class="people-name-list">
                    <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                    <p class="people-names">Dan Quartz <br> Male</p>
                </div>
            </div>
            <div class="people-ratings">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" >
                <span class="people-ratings-ratio"><br></span>
                <span class="people-common-interest">CommonInterests</span>
                <span class="people-common-interest">0/12</span>
            </div>
            </div>

            <div class="people-show-more-details">
                <p class="people-show-more">SHOW MORE
                <img class="drop-icon" th:src="@{/images/medium-48px/Artboard 1 copyxxhdpi.png}" height="17" width="17"/></p>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>