<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>People-Details</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/PeopleList.css}" rel="stylesheet">


    <script>

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>
</head>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div class="content" >
    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:17px; width:50%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.
        </p>
    </div>

    <div class="profile-container">
        <div class="left-content">
            <div class="people" style="width:91%;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; letter-spacing: 1.4px;"><b>MY PROFILE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:95%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Based on your profile, you will be able to connect</br> with the best matches who share your interests.
                    </br> Go ahead and setup your profile.</p>
            </div>
            <div class="my-profile" style="border-bottom: solid 1px #CCCCCC;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;"><b>PEOPLE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
            <div class="people">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;"><b>GROUPS</b></span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
        </div>

        <div class="right-content-details">
            <div class="right">
                <div class="my-profile-options" style="padding:2%;" id="profile-setup">
                    <p style="display:block; color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-bottom: 20px; letter-spacing: 1.4px;">
                        MY PROFILE<br><br></p>
                    <div style="display:flex; justify-content: center; width:100%; align-items: center; flex-direction: column; margin-left: 40%;margin-top: 20%;">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 10@16x.png}" height="71" width="71" style="border-radius: 50%;">
                        <p style="color:#464646; font-family: roboto: font-weight: 500; margin-top: 15px;letter-spacing: 1.4px;">John Doe</p>
                        <p style="color:#909090;">Male</p>
                    </div>
                    <div class="like">
                        <div class="like-blue">
                            <img  th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"onclick="myFunction1()" height="97" width="97"
                                 style="border-radius: 50%;margin-left: 28%;">
                            <p  style="color:#FFFFFF; margin-left: 36%;font-weight:600;font-size: 20px;;">Add to</p>
                            <p  style="color:#FFFFFF; margin-left: 30%;font-weight:600;font-size: 20px;">favourites</p>
                        </div>
                        <div style="margin-left:8%;">
                            <p style="color:#505050; letter-spacing:0.6px; font-size:20px;" >You do not have access</br>
                                to view user details.</p>

                        </div>
                    </div>

     <div style="background-color:#EEEEEE; width:165%; height:71px; border:0.25px solid #CCCCCC;margin-top: 24%;margin-left: 12%;">
         <p style="color:#747474; font-size:23px;letter-spacing:0.5px;display: flex;align-items: center; justify-content: space-around; margin-top: 4%;">No interests found</p>

     </div>

                            <div style="display:flex; align-items:center; justify-content:space-between;margin-top: 19%;">
                                <img  class="drop-icon2" th:src="@{/images/extra-large-256px/Artboard 1 copy 9@16x.png}" height="17" width="17"/>
                                <p class="all-scroll" onclick="loginFunction2()" style="color:#32BDD2; font-size:24px;font-weight: 600;margin-right:69%;">BACK</p>
                                <script>
                        function loginFunction2() {
                            window.location = src = "/community/community-groups/people-list";
                        }
                    </script>
                            </div>
                        </div>


</body>

</html>