<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>People-list</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/PeopleList.css}" rel="stylesheet">

    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content-search");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
         function myFunction1() {
            document.getElementById("press-like").style.display = "none";
            document.getElementById("press-unlike").style.display = "block";

        }

         function unliking() {
            document.getElementById("press-like").style.display = "block";
            document.getElementById("press-unlike").style.display = "none";

        }
    </script>

</head>

<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>
<div class="content">
    <div class="community-desc">
        <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p style="color:#707070; font-family:roboto; font-size:17px; width:50%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.
        </p>
    </div>

    <div class="profile-container">
        <div class="left-content">
            <div class="people" style="width:91%;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; letter-spacing: 1.4px;"><b>MY PROFILE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:95%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Based on your profile, you will be able to connect</br> with the best matches who share your interests.
                    </br> Go ahead and setup your profile.</p>
            </div>
            <div class="my-profile" style="border-bottom: solid 1px #CCCCCC;">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;"><b>PEOPLE</b> </span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
            <div class="people">
                <span style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span style="color:#464646; font-family:roboto; font-size:18px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;"><b>GROUPS</b></span>
                <p style="color:#747474; font-family:roboto; font-size:17px; width:75%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the community members and make new friends.</p>
            </div>
        </div>

        <div class="right-content">
            <div class="right">
                <div class="my-profile-options" style="padding:2%;">
                    <div style="width:921px; display:flex; ">
                    <p style="display:block; color:#464646; font-family:roboto; width:59px;font-size:18px; font-weight:700; margin-bottom: 20px; letter-spacing: 1.4px;">
                        PEOPLE
                        <p style="color:#5A5A5A;display: flow-root;margin-right: 44%;">Showing your favourites.</br>
                        <span class="all-scroll" onclick="clearall()" style="color:#32BDD2; margin-left:48%;"><u>Clear Filter</u></span>
                        <script>
                      function clearall() {
                        window.location = src = "/community/people-list";                    }
                </script>
                    </p>

                    <div class="burger">
                        <img  onclick="myFunction()" class="dropbtn"  th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" height="32px" width="33px" id="uplaod-profile-pic">
                        <div id="myDropdown" class="dropdown-content-search">
                            <a onclick="clearall()" style="color:#32BDD2" href="#home">CLEAR</a>
                            <script>
                      function clearall() {
                        window.location = src = "/community/people-list";                    }
                </script>
                            <a style="color:#464646;" href="#about">Favourites</a>
                        </div>
                    </div>
                </div>

                <div style="display:flex; justify-content:space-between; width:172%; align-items: center;border: 1px solid #CCCCCC;border-radius:25px;margin-top: 4%;">
                    <div style="width:50%;margin-right:379px;">
                        <input onclick="loginFunction1()" class="box1" type="text" name="un" placeholder="Search..." size="48">
                        <script>
                      function loginFunction1() {
                        window.location = src = "/community/people-search";                    }
                </script>
                    </div>
                    <div style="width:50%;float:left;">
                        <img class="all-scroll" style="margin-left:64%;" th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" height="27" width="25" onclick="loginFunction1()" >
                        <script>
                      function loginFunction1() {
                        window.location = src = "/community/people-search";                    }
                </script>
                    </div>
                </div>
                <p style="color:#464646; font-size:12px; margin-left: 145%; font-weight:550;width: 100px;"><b>2 Matches found.</b></p>

                <div class="user-details">
                    <div class="names">
                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                        <p class="all-scroll" onclick="loginFunction2()" style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px; margin-left: 12%; width:78px;">
                            John Doe <br>Male
                        </p>
                        <script>
                        function loginFunction2() {
                            window.location = src = "/community/people-details";
                        }
                    </script>

                    </div>
                </div>
                <div class="blue">
                    <img  th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" style="border-radius: 50%; ">

                    <span
                            style="background-color:#32BDD2; padding: 1.6px; font-size:1px; width:23%; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px; ">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">12/12</span>
                </div>
                <div style="width:142%; height:1px; border:0.5px #CCCCCC;background-color:#CCCCCC;margin-left: 15%;">
                </div>

                <div class="user-details">
                    <div class="names">

                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                        <p style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px;margin-left: 12%; width:90px;">
                            Peter Law <br> Male
                        </p>
                    </div>
                </div>
                <div class="blue">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                    <span style="background-color:#32BDD2; padding: 1.6px; padding-left:30px; font-size:1px; line-width:395px; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">8/12</span>
                </div>
                <div style="width:142%; height:1px; border:0.5px #CCCCCC;background-color:#CCCCCC;margin-left: 15%;">
                </div>

                <div class="user-details">
                    <div class="names">
                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; margin-left: 3%">
                        <p style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px;margin-left: 12%; width:90px;">
                            Luke Ray<br> Male
                        </p>
                    </div>
                </div>
                <div class="blue">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                    <span style="background-color:#32BDD2; padding: 1.6px; padding-left:30px; font-size:1px; line-width:395px; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">5/12</span>
                </div>
                <div style="width:142%; height:1px; border:0.5px #CCCCCC;background-color:#CCCCCC;margin-left: 15%;">
                </div>

                <div class="user-details">
                    <div class="names">
                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                        <p style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px;margin-left: 12%; width:120px;">
                            Daisy Lake <br> Female
                        </p>
                    </div>
                </div>
                <div class="blue">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                    <span style="background-color:#32BDD2; padding: 1.6px; padding-left:30px; font-size:1px; line-width:395px; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">2/12</span>
                </div>
                <div style="width:142%; height:1px; border:0.5px #CCCCCC;background-color:#CCCCCC;margin-left: 15%;">
                </div>

                <div class="user-details">
                    <div class="names">
                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                        <p style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px;margin-left: 12%; width:120px;">
                            Jeret Quartz<br>Female
                        </p>
                    </div>
                </div>
                <div class="blue">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                    <span style="background-color:#32BDD2; padding: 1.6px; padding-left:30px; font-size:1px; line-width:395px; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">1/12</span>
                </div>
                <div style="width:142%; height:1px; border:0.5px #CCCCCC;background-color:#CCCCCC;margin-left: 15%;">
                </div>

                <div class="user-details">
                    <div class="names">
                        <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
                        <p style="color:#5A5A5A; font-size:14px; font-style:roboto; font-weight: 400;letter-spacing: 1.05px;margin-left: 12%; width:120px;">
                            Dan Quartz <br> Male
                        </p>
                        <!-- <span style="background-color:#E65959; padding: 5px; border-radius: 50%; margin-bottom: 15px; margin-left: 10px;"> -->
                    </div>
                </div>
                <div class="blue1">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28" width="28" style="border-radius: 50%; ">
                    <span style="background-color:#32BDD2; padding: 1.6px; padding-left:30px; font-size:1px; line-width:395px; line-height:6px;"><br></span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">Common
                        Interests</span>
                    <span style="color:#747474; font-family:roboto; font-size:12px; font-weight:700; letter-spacing: 0.6px;">0/12</span>
                </div>
            </div>

            <div class="show-more">
                <p class="more">SHOW MORE
                    <img  class="drop-icon" th:src="@{/images/medium-48px/Artboard 1 copyxxhdpi.png}" height="17" width="17"/></p>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>