<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>People-list</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/GuestJini.css}" rel="stylesheet">

</head>

<body>
<header>
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>
<div class="people-content">
    <div class="people-community-desc">
        <span class="people-community">COMMUNITY</span>
        <p class="people-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet
            sollicitudin leo vestibulum.
        </p>
    </div>

    <div class="people-profile-container">
        <div class="people-left-content">
            <div class="people">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>MY PROFILE</b> </span>
                <p class="people-my-profile-details">
                    Based on your profile, you will be able to connect</br> with the best matches who share your
                    interests.
                    </br> Go ahead and setup your profile.</p>
            </div>
            <div class="people-my-profile">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>PEOPLE</b> </span>
                <p class="people-my-profile-details">Meet the community members and make new friends.</p>
            </div>
            <div class="people">
                <span class="people-borderTopRed"><br></span>
                <span class="people-community"><b>GROUPS</b></span>
                <p class="people-my-profile-details">Join the groups and catch all the action. You will</br> get
                    suggestions based on your profile.</p>
            </div>
        </div>

        <div class="people-right-content">
            <div>
                <div class="people-my-profile-options">
                    <p class="people-community">
                        PEOPLE</p>
                    <div class="people-filter-part">
                        <div class="people-filter">
                            <div class="people-load-favourites" id="filter-clear-link">
                                <p class="people-show-favourites" style="">Showing your favourites.</p>
                                <p class="people-clear-filter" onclick="clearFilter()">Clear Filter</p>
                            </div>
                            <img class="people-filter-icon"
                                 th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40"
                                 height="40" alt="drop-down" onclick="viewDropdown()">
                            <div class="people-filter-dropdown" id="drop-down-menu">
                                <a class="people-clear" id="clear-link" onclick="clearFilter()">CLEAR</a>
                                <a class="people-favourites" onclick="favourites()">Favourites</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="people-search-box-main">
                    <div class="people-search-box">
                        <input class="box1" type="text" name="un" placeholder="Search..." size="48"
                               onfocus="this.placeholder=''" onblur="this.placeholder='Search...'">
                    </div>
                    <div class="people-search-icon">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" height="25"
                             width="25">
                    </div>
                </div>

                <div id="john">
                    <div class="people-user-details" onclick="johnDoe()">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                            <p class="people-names">John Doe <br>Male
                            </p>
                            <script>
                            </script>
                            <span class="people-dot" id="red-dot"></span>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img id="like-john" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"
                             height="28" width="28" onclick="likeJohn()">
                        <img class="people-unlike" id="unlike-john"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28"
                             onclick="unlikeJohn()">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">12/12</span>
                    </div>
                    <div class="people-border-bottom">
                    </div>
                </div>

                <div id="PeterLaw">
                    <div class="people-user-details">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                            <p class="people-names">Peter Law <br> Male
                            </p>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img id="like-peter" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"
                             height="28" width="28" onclick="likePeter()">
                        <img class="people-unlike" id="unlike-peter"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28"
                             onclick="unlikePeter()">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">8/12</span>
                    </div>
                    <div class="people-border-bottom">
                    </div>
                </div>

                <div id="luke">
                    <div class="people-user-details">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35"
                                 style="border-radius: 50%; margin-left: 3%">
                            <p class="people-names">Luke Ray<br> Male</p>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img id="like-luke" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"
                             height="28" width="28" onclick="likeLuke()">
                        <img class="people-unlike" id="unlike-luke"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28"
                             onclick="unlikeLuke()">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">5/12</span>
                    </div>
                    <div class="people-border-bottom">
                    </div>
                </div>

                <div id="DaisyLake">
                    <div class="people-user-details">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                            <p class="people-names">Daisy Lake <br> Female</p>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img id="like-daisy" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"
                             height="28" width="28" onclick="likeDaisy()">
                        <img class="people-unlike" id="unlike-daisy"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28"
                             onclick="unlikeDaisy()">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">2/12</span>
                    </div>
                    <div class="people-border-bottom">
                    </div>
                </div>

                <div id="Jeret">
                    <div class="people-user-details">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35"
                                 style="border-radius: 50%; ">
                            <p class="people-names">Jeret Quartz<br>Female</p>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img id="like-jeret" th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}"
                             height="28" width="28" onclick="likeJeret()">
                        <img class="people-unlike" id="unlike-jeret"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 36@16x.png}" height="28" width="28"
                             onclick="unlikeJeret()">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">1/12</span>
                    </div>
                    <div class="people-border-bottom">
                    </div>
                </div>


                <div id="danQuartz">
                    <div class="people-user-details">
                        <div class="people-name-list">
                            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35">
                            <p class="people-names">Dan Quartz <br> Male</p>
                        </div>
                    </div>
                    <div class="people-ratings">
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 35@16x.png}" height="28"
                             width="28">
                        <span class="people-ratings-ratio"><br></span>
                        <span class="people-common-interest">CommonInterests</span>
                        <span class="people-common-interest">0/12</span>
                    </div>
                </div>
            </div>

            <div class="people-show-more-details">
                <p class="people-show-more">SHOW MORE
                    <img class="drop-icon" th:src="@{/images/medium-48px/Artboard 1 copyxxhdpi.png}" height="17"
                         width="17" /></p>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/community-people.js}" type="text/javascript"></script>

</html>