<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/GuestJini.css}" rel="stylesheet">
</head>

<body class="change-password-body">
<header class="community-header">
    <div th:replace="shared/dashboard :: dashboard"></div>
</header>
<div th:replace="shared/burger-menu :: burgerMenu"></div>
<div class="content">
    <div class="community-desc" style="display: flex;">
        <span class="change-password-title-name">ROLES
        <p class="change-password-text" style="width: 56%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.</p>
           </span> <button style="margin-left: 31%;width: 160.4px;" type="submit" class="button loginPage" onclick="loginpage()">NEW ROLE</button>
    </div>

    <div class="profile-container" style="height:1200px;">
        <div style="margin-left: 4%;padding-top: 4%;display:inline;">
                <img class="people-filter-icon" th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40" alt="drop-down">
            </div>
        <div class="people-search-box-main" style="height: 45px; margin-left: 21%; width: 56%; margin-top: 4%;">
            <div class="people-search-box">
                <input class="box1" type="text" name="un" placeholder="Search..." size="48"
                       onfocus="this.placeholder=''" onblur="this.placeholder='Search...'">
            </div>
            <div class="people-search-icon">
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" height="25" width="25">
            </div>
        </div>

        <div class="roles">
        <div style="display: flex;align-items: center;justify-content: space-around;margin-top: 3%;">
        <p  class="change-password-title-name" style="width: 16%;">ADMIN</p>
      <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" height="32" width="32">
            <p style="text-align: right;font-size:11px;letter-spacing: 0.55px;color: #707070;opacity: 1;font-weight:400;">Last Updated On</br>
        <span style="text-align: right;font-size: 12px;letter-spacing: 0.3px;color: #707070;opacity: 1;font-weight:600;">25 Oct 2019, 04:06 pm</span></p>
         </div>
        </div>

        <div class="roles" style="margin-top: 22%;">
            <div style="display: flex;align-items: center;justify-content: space-around;margin-top: 3%;">
                <p  class="change-password-title-name" style="width: 16%;">AGENT</p>
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" height="32" width="32">
                <p style="text-align: right;font-size:11px;letter-spacing: 0.55px;color: #707070;opacity: 1;font-weight:400;">Last Updated On</br>
                    <span style="text-align: right;font-size: 12px;letter-spacing: 0.3px;color: #707070;opacity: 1;font-weight:600;">25 Oct 2019, 04:06 pm</span></p>
            </div>
        </div>

        <div class="roles" style="margin-top: 32%;">
            <div style="display: flex;align-items: center;justify-content: space-around;margin-top: 3%;">
                <p  class="change-password-title-name" style="width: 16%;">GUEST</p>
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" height="32" width="32">
                <p style="text-align: right;font-size:11px;letter-spacing: 0.55px;color: #707070;opacity: 1;font-weight:400;">Last Updated On</br>
                    <span style="text-align: right;font-size: 12px;letter-spacing: 0.3px;color: #707070;opacity: 1;font-weight:600;">25 Oct 2019, 04:06 pm</span></p>
            </div>
        </div>

        <div class="roles" style="margin-top: 42%;">
            <div style="display: flex;align-items: center;justify-content: space-around;margin-top: 3%;">
                <p  class="change-password-title-name" style="width: 16%;">INVENTORY CREATION</p>
                <div>
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" height="32" width="32"></div>
                <p style="text-align: right;font-size:11px;letter-spacing: 0.55px;color: #707070;opacity: 1;font-weight:400;">Last Updated On</br>
                    <span style="text-align: right;font-size: 12px;letter-spacing: 0.3px;color: #707070;opacity: 1;font-weight:600;">25 Oct 2019, 04:06 pm</span></p>
            </div>
        </div>

        <div class="roles" style="margin-top: 52%;">
            <div style="display: flex;align-items: center;justify-content: space-around;margin-top: 3%;">
                <p  class="change-password-title-name" style="width: 16%;">MANAGER</p>
                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" height="32" width="32">
                <p style="text-align: right;font-size:11px;letter-spacing: 0.55px;color: #707070;opacity: 1;font-weight:400;">Last Updated On</br>
                    <span style="text-align: right;font-size: 12px;letter-spacing: 0.3px;color: #707070;opacity: 1;font-weight:600;">25 Oct 2019, 04:06 pm</span></p>
            </div>
        </div>












    </div>
</div>
</body>
</html>