<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Interest-group-View</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/interestgroups.css}" rel="stylesheet">
</head>

<script>
    function equalmark() {
        document.getElementById("myDropdown").classList.toggle("show");
        document.getElementById("cross-mark").style.display = "block";
        document.getElementById("equals").style.display = "none";
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    function crossmark() {
        document.getElementById("cross-mark").style.display = "none";
        document.getElementById("equals").style.display = "block";
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function interestgroup() {
        document.getElementById("interest-group").style.display = "block";
        document.getElementById("ig").style.display = "block";
        document.getElementById("filter-icon").style.display = "block";
        document.getElementById("equals").style.display = "block";
        document.getElementById("cross-mark").style.display = "none";
        document.getElementById("select").style.display = "none";
    }

    function hiking() {
        document.getElementById("group-vieww").style.display = "block";
        document.getElementById("interest-group").style.display = "none";
    }
    function filter() {
        if (document.getElementById("drop-down-menu").style.display === "none") {
            document.getElementById("drop-down-menu").style.display = "block";
        } else {
            document.getElementById("drop-down-menu").style.display = "none";
        }
    }

    function subscribe() {
        document.getElementById("clear-filter").style.display = "block";
        document.getElementById("drop-down-menu").style.display = "none";
        document.getElementById("hiking").style.display = "none";
        document.getElementById("sky").style.display = "none";
        document.getElementById("gradening").style.display = "none";
        document.getElementById("marathon").style.display = "none";
    }

    function pressnew() {
        document.getElementById("clear-filter").style.display = "block";
        document.getElementById("drop-down-menu").style.display = "none";
        document.getElementById("gradening").style.display = "block";
        document.getElementById("marathon").style.display = "block";
        document.getElementById("hiking").style.display = "none";
        document.getElementById("robotics").style.display = "none";
        document.getElementById("cycling").style.display = "none";
        document.getElementById("sky").style.display = "none";
    }

    function clear() {
        document.getElementById("hiking").style.display = "block";
        document.getElementById("sky").style.display = "block";
    }

    function searchGroups() {
        var str = document.getElementById("search-groups").value.toUpperCase().trim();
        var group_title = document.getElementsByClassName("group_info");
        var group = document.getElementsByClassName("group");
        var i;
        var count = 0;
        var groups = group_title.length;

        for (i = 0; i < groups; i++) {
            var res = group_title[i].textContent.toUpperCase();
            var result = res.match(str);
            console.log(result);
            var empty = "";
            if (result != null) {
                group[i].style.display = "flex";
                count = count + 1;
            }
            else {
                group[i].style.display = "none";
            }
            if (count === 0) {
                document.getElementById("search-not-found").style.display = "flex";
                document.getElementById("back-btn").style.display = "flex";
                document.getElementById("show-more").style.display = "none";
            } else {
                document.getElementById("search-not-found").style.display = "none";

                document.getElementById("back-btn").style.display = "flex";
            }
        }
    }

    function groupView() {
        console.log("msg");
        location.replace("/community/community-group-view");

    }

    function clearFilter() {
        document.getElementById("groups").style.display = "block";

    }
</script>


<body>
<header style="min-height: 6vh;">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div class="content">

    <div class="community-desc">
            <span
                    style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">COMMUNITY</span>
        <p
                style="color:#707070; font-family:roboto; font-size:12px; width:40%; margin-top: 15px; letter-spacing: 0.6px;  line-height: 2;">
            Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo
            vestibulum.</p>
    </div>
    <div class="profile-container">
        <div class="left-content">
            <div style="background-color: #EEEEEE;"></div>
            <div class="people">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; letter-spacing: 1.4px;">MY
                        PROFILE</span>
                <p
                        style="color:#747474; font-family:roboto; font-size:14px; width:80%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Based on
                    your profile, you will be able to connect with the best matches who share your interests. Go
                    ahead and setup your profile.</p>
            </div>
            <div class="people" style="border-bottom: solid 1px #CCCCCC; border-top: solid 1px #CCCCCC;">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px; letter-spacing: 1.4px;">PEOPLE</span>
                <p
                        style="color:#747474; font-family:roboto; font-size:14px; width:80%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Meet the
                    community members and make new friends.</p>
            </div>
            <div class="my-profile">
                    <span
                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                <span
                        style="color:#464646; font-family:roboto; font-size:16px; font-weight:700; margin-top: 10px;letter-spacing: 1.4px;">GROUPS</span>
                <p
                        style="color:#747474; font-family:roboto; font-size:14px; width:80%; margin-top: 15px; letter-spacing: 0.3px;  line-height: 1.8;">
                    Join the groups and catch all the action. You will get suggestions based on your profile.</p>
            </div>
        </div>

        <div class="right-content">
            <div class="my-profile-options" style="padding: 2%;" id="interest-groups1">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <img onclick="myFunction()" id="equals" class="dropbtn"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" width="35" height="35"
                             alt="icon" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.58); border-radius: 50%;">
                        <img onclick="crossmark()" th:src="@{/images/extra-large-256px/Artboard 1 copy 50@16x.png}"
                             width="35" height="35" alt="icon"
                             style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.58); border-radius: 50%;display:none" ;
                             id="cross-mark">
                        <div style="margin-top: 108px;margin-left: 15px;" id="myDropdown" class="dropdown-content">
                            <a onclick="interestgroup()" style="color:#747474;font-size:13px;ont-family: roboto;"
                               href="#home">INTEREST GROUPS</a>
                            <a style="color:#747474;font-size:13px;ont-family: roboto;" href="#about">COMMUNITY
                                GROUPS</a>
                            <a style="color:#747474;font-size:13px;ont-family: roboto;" href="#about">MY GROUPS</a>
                        </div>
                        <span id="select"
                              style="font-family: roboto; font-size: 14px;letter-spacing: 1.4px; margin-left: 25px; margin-top: 5px; color: #747474;">Select
                                a group from the menu</span>
                        <span id="ig"
                              style="font-family: roboto;font-weight:600;display:none; font-size: 14px;letter-spacing: 1.4px; margin-left: 25px; margin-top: 5px; color: #464646;">INTEREST
                                GROUPS</span>
                    </div>
                    <div id="clear-filter" style="display:none;">
                        <p style=" width: 142px;margin-left: 47%;color:#5A5A5A; font-family:roboto;font-size:12px;">
                            Showing new groups.
                            <span onclick="clearFilter()"
                                  style="color:#32BDD2; cursor:pointer; font-family:roboto;"><u>Clear Filter</u></span>
                            <script>
                                function clearFilter() {
                                    window.location = src = "/InterestGroups/interest-group-view";
                                }
                            </script>
                        </p>
                    </div>

                    <div style="position: relative; cursor: pointer;">
                        <img id="filter-icon" onclick="filter()"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 6@16x.png}" width="40" height="40"
                             alt="drop-down">
                        <div style="display: none; width: 170px; height: 217px; position: absolute; border: solid 0.5px #CCCCCC; box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29); background-color: #FFFFFF; border-radius: 0px 0px 10px 10px; right: 0%;"
                             id="drop-down-menu">
                            <a
                                    style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 1.05px; color: #909090; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 23% 0% 0% 15%;">CLEAR</a>
                            <a onclick="subscribe()"
                               style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;">Subscribed</a>
                            <a onclick="pressnew()"
                               style="display: block; cursor: pointer; font-family: roboto; font-size: 14px; font-weight: 600; letter-spacing: 0.7px; color: #464646; line-height: 1.6; border-bottom: solid 0.5px #CCCCCC; padding-right: 40%; padding-bottom: 13%; margin: 13% 0% 0% 15%;">New</a>
                        </div>
                    </div>
                </div>

                <div id="interest-group">
                    <div class="search-bar">
                        <input onclick="loginFunction1()" type="text" placeholder="Search…"
                               style="padding: 8px 5px;; border: 0px; width: 95%; outline: none;cursor: pointer; margin-left: 10px;">
                        <script>
                                function loginFunction1() {
                                    window.location = src = "/InterestGroups/group-search";
                                }
                            </script>
                        <img style=" cursor: pointer;"
                             th:src="@{/images/extra-large-256px/Artboard 1 copy 39@16x.png}" width="20" height="20"
                             alt="search-btn" id="search-btn">
                    </div>


                    <div class="groups" id="groups">
                        <div class="accepted group" style="display:flex;cursor:pointer;" onclick="cycling()"
                             id="cycling">
                            <!--                        <div class="accepted" onclick="cycling()">-->
                            <div>
                                    <span
                                            style="background-color:#E65959; padding: 1.6px; padding-left:30px; font-size:1px; line-height:20px;"><br></span>
                                <p
                                        style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Outdoor Adventure</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <!--                                <img th:src="@{/images/profile-pic.jpg}" width="40" height="40" alt="admin-pic" style="border-radius: 50%;">-->
                                    <p
                                            style="color: #5A5A5A; font-family: roboto;cursor: pointer; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        CYCLING</p>
                                    <script>
                                            function cycling() {
                                                window.location = src = "/InterestGroups/group-conversation";
                                            }
                                        </script>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 48@16x.png}" width="30"
                                     height="30" alt="search-btn" style="border-radius: 50%;">
                            </div>
                        </div>


                        <div class="accepted group" id="robotics">
                            <div>
                                <p
                                        style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Tech</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <p
                                            style="color: #5A5A5A; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        ROBOTICS</p>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 48@16x.png}" width="30"
                                     height="30" alt="search-btn" style="border-radius: 50%;">
                            </div>
                        </div>


                        <div class="accepted" id="hiking" onclick="hiking()" style="cursor:pointer;">
                            <div>
                                <p
                                        style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Outdoor Adventure</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <p
                                            style="color: #5A5A5A; font-family: roboto;cursor: pointer; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        HIKING</p>
                                    <script>
                                            function hiking() {
                                                window.location = src = "/InterestGroups/group-hiking";
                                            }
                                        </script>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                                <div class="notification"
                                     style="display: flex; padding: 0px 10px 5px 0px; width: 83%; display: flex; align-items: center; margin-top: 15px;">
                                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 28@16x.png}" width="30"
                                         height="30" alt="search-btn" style="border-radius: 50%;">
                                    <p
                                            style="color: #BEBAA4; font-size: 12px; letter-spacing: 0.6px; font-family: roboto; font-weight: 600; margin-left: 10px; text-align: center; border-top: solid 0.5px #BEBAA4; padding-top: 10px;">
                                        This group matches your interest.</p>
                                </div>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30"
                                     height="30" alt="accepted-icon" style="border-radius: 50%;background-color: white;">
                            </div>
                        </div>


                        <div class="accepted" id="sky">
                            <div>
                                <p style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Outdoor Adventure</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <p
                                            style="color: #5A5A5A; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        SKY DIVING</p>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30"
                                     height="30" alt="accepted-icon" style="border-radius: 50%;background-color: white;">
                            </div>
                        </div>

                        <div class="accepted" id="gradening" style="cursor:pointer; display:none;">
                            <div>
                                <p style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Outdoor Adventure</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <p
                                            style="color: #5A5A5A; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        GRADENING</p>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30"
                                     height="30" alt="accepted-icon" style="border-radius: 50%;background-color: white;">
                            </div>
                        </div>

                        <div class="accepted" id="marathon" style="cursor:pointer; display:none;">
                            <div>
                                <p
                                        style="color: #909090; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 1.4; font-weight: 600;">
                                    Fitness</p>
                                <div class="group-admin" style="display: flex; align-items: center;">
                                    <p
                                            style="color: #5A5A5A; font-family: roboto; font-size: 12px; letter-spacing: 0.6px; line-height: 2.5;font-weight:600">
                                        Marathon</p>
                                </div>
                                <p
                                        style="color: #747474; width: 84%; font-family: roboto; font-size: 11px; letter-spacing: 0.3px; line-height: 1.8;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam erat sapien.
                                </p>
                            </div>
                            <div>
                                <img th:src="@{/images/extra-large-256px/Artboard 1 copy 15@16x.png}" width="30"
                                     height="30" alt="accepted-icon" style="border-radius: 50%;background-color: white;">
                            </div>
                        </div>

                        <div class="show-more" style="cursor:pointer;">
                            <p class="head-text" style="font-weight: 700; margin-right: 10px; font-size: 12px;">
                                SHOW MORE
                            </p>
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="10"
                                 width="10" alt="list-button" style="margin-right: 15px; margin-bottom: 5px;">
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>