<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Community-profile</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header style="min-height: 6vh;">
    <div style="display: flex; justify-content: space-between; background-color: #FFFFFF; box-shadow: 0px 3px 6px #BCBCBC40;">
        <div>
            <img th:src="@{/images/Guestjini-burgermenu.png}" height="35" width="35">
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; width: 10%;">
            <img th:src="@{/images/profile-pic.jpg}" height="35" width="35" style="border-radius: 50%; ">
            <span style="font-family: robot; font-size: 1vw;">John Doe</span>
            <img th:src="@{/images/medium-48px/Artboard 1 copyxxhdpi.png}" height="25" width="25">
        </div>
    </div>
</header>
</body>
</html>