<html  th:fragment="burgerMenu">
<head>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/burger-menu.css}" rel="stylesheet">
</head>
<body>
<div class="burger-menu" id="burger-menu" onclick="openBurgerMenu()">
<div class="menu">
    <div class="menu-group1">
        <div class="group1-content" id="support-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 21@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Support</span>
        </div>
        <div class="group1-content" id="community-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 23@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="openCommunity()">Community</span>
        </div>
        <div class="group1-content" id="accounts-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 22@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Accounts</span>
        </div>
        <div class="group1-content" id="rewards-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 24@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Rewards</span>
        </div>
    </div>
    <div class="menu-group2">
        <div class="group1-content" id="change-password-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 36@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Change Password</span>
        </div>
        <div class="group1-content" id="privacy-policy-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 23@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Privacy Policy</span>
        </div>
        <div class="group1-content" id="term-and-condition-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 33@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Term & Conditions</span>
        </div>
        <div class="group1-content" id="notification-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 34@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Notifications</span>
        </div>
    </div>
    <div class="menu-group3">
        <div class="group1-content" id="logout-link">
            <img th:src="@{/images/burger-menu/extra-large-256px/Artboard 1 copy 37@16x.png}" height="20" width="20" alt="support">
            <span class="group1-content-link" onclick="">Log Out</span>
        </div>
    </div>
</div>
</div>
</body>
</html>