<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Guesture-Dashboard</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/images/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css"/>
    <!-- icons -->
    <link th:href="@{/assets/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Sweet Alert -->
    <link rel="stylesheet" th:href="@{/assets/plugins/sweet-alert/sweetalert.min.css}">

    <!--bootstrap -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/material/material.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/material_style.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-pagination/BootstrapPagination.css}" type="text/css"/>

    <!-- animation -->
    <link th:href="@{/assets/css/pages/animate_page.css}" rel="stylesheet">
    <!-- dropzone -->
    <link th:href="@{/assets/plugins/dropzone/dropzone.css}" rel="stylesheet" media="screen">
    <!-- Theme Styles -->

    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/plugins.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/theme-color.css}" rel="stylesheet" type="text/css"/>
    <script>
        var agentId = "[[${agentId}]]"
        var leadId = "[[${leadId}]]"
    </script>

</head>
<body>
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <a  th:href="@{'/lead-data/' + ${agentId}}">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>[[${lead.attributes.full_name}]]</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>[[${lead.attributes.phone_mobile}]]</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>[[${lead.attributes.date_entered}]]</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span>Source: [[${lead.attributes.lead_source}]]</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Activity</h3>
                        </div>
                    </div>

                    <div class="row" th:each="task:${tasks}">
                        <div class="col-sm-4" style="border-bottom: 1px solid grey;border-right: 1px solid grey">
                            <span>[[${task.attributes.date_entered}]]</span>
                        </div>
                        <div class="col-sm-8" style="border-bottom: 1px solid grey;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span><b>[[${task.attributes.name}]]</b></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size: medium">[[${task.attributes.date_due}]]</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size: medium">[[${task.attributes.status}]]</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <span style="font-size: 11px;">[[${task.attributes.description}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start js include path -->
<script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/popper/popper.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-blockui/jquery.blockui.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- bootstrap -->
<script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- Sweet Alert -->
<script th:src="@{/assets/plugins/sweet-alert/sweetalert.min.js}"></script>
<!-- Common js-->
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/layout.js}"></script>
<script th:src="@{/assets/js/theme-color.js}"></script>
<!-- Material -->
<script th:src="@{/assets/plugins/material/material.min.js}"></script>
<!-- animation -->
<script th:src="@{/assets/js/pages/ui/animations.js}"></script>
<!-- end js include path -->

</body>
</html>