<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account-Landing</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/GuestJini.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">

</head>
<body>
<div class="main" id="landingPage">
    <div class="sub-layer">
        <img class="guesture-logo" th:src="@{/images/GuestureLogo.png}" alt="">
        <div class="text-description-align">
        <p class="description-text-medium">Lorem ipsum dolor sit amet, consectetur
            <span class="description-text-medium">adipiscing elit. Etiam erat sapien, ultricies.</span></p></div>
        <div class="align">
            <div class="layer">
                <span class="login"><b>APP ACCESS REQUEST</b></span>
                <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </br>Donec dignissim felis et magna mattis finibus. </p>
            </div>
            <div class="error-login hidden-visibility" id="invalidLoginCredit">
                <p class="invalid-login">Invalid login credentials</p>
            </div>
            <div class="Email">
                <span class="registered-Email">REGISTERED EMAIL</span>
<!--                <input class="box" type="text" name="un" placeholder="example@address.com" size="48"-->
<!--                       onfocus="this.placeholder=''" onblur="this.placeholder='example@address.com'">-->
                <input class="box" type="text" name="username" placeholder="Email or Mobile Number" size="48"
                       id="inputError" onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
                <span class="fieldErrorLoginPage" id="FieldEmailError">This field is required</span>
            </div>
            <div class="Email">
                <span class="registered-Email">REGISTERED PHONE NUMBER</span>
                <input class="box" type="password" name="password" placeholder="Password" size="48" border-radius="5px;"
                       id="passwordError"  onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
<!--                <input class="box" type="password" name="username" placeholder="98445 54783" size="48" border-radius="5px;"-->
<!--                       onfocus="this.placeholder=''" onblur="this.placeholder='98445 54783'">-->
                <p class="fieldErrorLoginPage" id="FieldPasswordError">This field is required</p>
            </div>
        </div>
        <div class="submit-button"><button type="submit" class="button submitLanding"  onclick="SubmitlandingPage()">SUBMIT</button>
        </div>
    </div>
</div>


  <div class="main landing" id="appsuccess">
    <div class="main-layer" onclick="successMessage()">
        <img class="guesture-logo" th:src="@{/images/GuestureLogo.png}" alt="">
        <div class="lorem-details">
            <p class="description-text-medium">Lorem ipsum dolor sit amet, consectetur
                <span class="description-text-medium">adipiscing elit. Etiam erat sapien, ultricies.</span>
            </p></div>
        <div class="success-message">
            <p class="message-title"><b>APP ACCESS REQUEST</b></p>
            <p class="message-link">Lorem ipsum dolor sit amet, consectetur</br>adipiscing elit. Mauris mattis, tortor sit.</p>
        </div>
    </div>
</div>

</body>

<script th:src="@{/js/login-page.js}" type="text/javascript"></script>
</html>