<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account-Landing</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">

<!--    <script>-->
<!--        function myFunction() {-->

<!--            document.getElementById("fieldError1").style.display="block";-->
<!--            document.getElementById("fieldError2").style.display="block";-->
<!--            document.getElementById("inputErr").style.border="1px solid #BF574A";-->
<!--             document.getElementById("pswdErr").style.border="1px solid #BF574A";-->
<!--&lt;!&ndash;            document.getElementById("eye").style.display="none";&ndash;&gt;-->



<!--        function type()-->
<!--        {-->

<!--        }-->
<!--    </script>-->



</head>
<body>
<div class="main">
    <div class="main-layer">
        <img class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p class="start">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div class="align">
            <div class="layer">
                <span class="login"><b>APP ACCESS REQUEST</b></span>
                <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Donec dignissim felis et magna mattis finibus. </p>
            </div>
            <div class="error">
                <p class="invalid">Invalid login credentials</p>
            </div>
            <div class="move">
                <span class="register">REGISTERED EMAIL</span>
                <input class="box" type="text" name="un" placeholder="example@address.com" size="48" id="inputErr">
                <span class="field1">This field is required</span>

            </div>
            <div class="password">
                <span class="register">REGISTERED PHONE NUMBER</span>
                <input class="box" type="password" name="un" placeholder="98445 54783" size="48" border-radius="5px;" id="pswdErr">
                <p class="field">This field is required</p>

            </div>
        </div>
        <div class="submit-button"><button type="submit" class="button"  onclick="loginFunction1()">SUBMIT</button>
            <script>
                    function loginFunction1()
                    {
                        window.location=src="/AppSuccess";
                    }
                </script>
        </div>

    </div>
</div>
</body>
</html>