<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account-Activation</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/GuestJini.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">


</head>
<body>
<div class="main">
    <div class="main-layer">
        <img class="guesture-logo" th:src="@{/images/GuestureLogo.png}" alt="" >

        <div class="lorem-Text">
            <p class="lorem-paragraph">Lorem ipsum dolor sit amet, consectetur
                <span class="lorem-paragraph">adipiscing elit. Etiam erat sapien, ultricies.</span></p>
        </div>
        <div class="align" id="Activation">
            <div class="activate">
                <span class="login"><b>ACCOUNT ACTIVATION</b></span>
                <p class="link-reset">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Donec dignissim felis et magna mattis finibus. </p>
            </div>

            <div class="Email-id">
                <span class="registered-Email">NEW PASSWORD</span>
                <input class="box activation" type="text" name="password" placeholder="*************" size="48"
                       onfocus="this.placeholder=''" onblur="this.placeholder='*************'">
                <img class="unmask-new-password" th:src="@{/images/EyeIcon.png}" alt="" width="24px" height="24px" >
                <span class="fieldError" style="font-size:10px;" >This field is required</span>

            </div>
            <div class="Email-id">
                <span class="registered-Email">CONFIRM PASSWORD</span>
                <input class="box activation" type="password" name="password" placeholder="*************" size="48" border-radius="5px;"
                       onfocus="this.placeholder=''" onblur="this.placeholder='*************'">
                <img class="unmask-confirm-password" id="eye-icon" th:src="@{/images/EyeIcon.png}" alt="" width="24px" height="24px" >
                <p class="fieldError" style="font-size:10px;">This field is required or Passwords not matching.</p>
            </div>
        </div>
        <div class="submit-button"><button type="submit" class="button submitotp"  id="SubmitActivation" onclick="AccountActivationSubmit()">SUBMIT</button>
        </div>

        <div class="success-activation" id="congrats">
            <p class="login">CONGRATULATIONS!</p>
            <p class="link-reset ">Your account has been activated. You can change your password </br>
                within the app in Settings.</p>

        <span class="login-title" onclick="LoginWeb()"><u>LOGIN</u></span>
        <span class="link-reset">to the web application.</span>
        <p class="link-reset">or</p>
        <p class="link-reset">Download mobile app</p>
            <img  th:src="@{/images/extra-large-256px/GooglePlayStore.png}" alt="" width="112px" height="43px">
            <img  th:src="@{/images/extra-large-256px/AppleStore.png}" alt="" width="112px" height="82px">
        </div>

        <div class="success-message-activation" id="link-expire">
            <p class="message-title">LINK EXPIRED</p>
            <p class="message-link">Your account has been already activated </br>
                using this link.</p>

            <p onclick="LoginActivate()" class="message-title" style="cursor:pointer;" ><u>Login</u></p>

        </div>
    </div>
</div>
</body>
<script th:src="@{/js/login-page.js}" type="text/javascript"></script>
</html>