<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account-Landing</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <script>
        function myFunction() {
            document.getElementById("fieldError1").style.display = "block";
            document.getElementById("fieldError2").style.display = "block";
            document.getElementById("inputErr").style.border = "1px solid #BF574A";
            document.getElementById("pswdErr").style.border = "1px solid #BF574A";
            document.getElementById("eye-icon").style.bottom = "44%";
        }
        function myFunction1() {
            document.getElementById("eye-icon").style.display = "none";
            document.getElementById("eye-pswd").style.display = "block";
            document.getElementById("eye-icon").style.bottom = "47%";
        }
        function myFunction2() {
            document.getElementById("eye-icon").style.display = "block";
            document.getElementById("eye-pswd").style.display = "none";
            document.getElementById("eye-icon").style.bottom = "27%";

        }
        function type() {

        }
    </script>


</head>
<body>
<div class="main" style="margin-left:18%;">
    <div style="margin-top: 10%;" class="main-layer">
        <img style="margin-left:29%;" class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p style="font-size:16px;" class="start">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div style="width:100%;margin-top:8%" class="align">
            <div class="layer">
                <span class="login"><b>APP ACCESS REQUEST</b></span>
                <p class="para-lorem" style="font-size:13px;color:#909090;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </br>Donec dignissim felis et magna mattis finibus. </p>
            </div>
            <div class="error">
                <p class="invalid">Invalid credentials</p>
            </div>
            <div class="move">
                <span class="register">REGISTERED EMAIL</span>
                <input class="box" type="text" name="un" placeholder="example@address.com" size="48" id="inputErr"
                       onfocus="this.placeholder=''" onblur="this.placeholder='example@address.com'">
                <span class="field1" style="font-size:10px;">This field is required</span>

            </div>
            <div style="margin-top:4%;">
                <span class="register">REGISTERED PHONE NUMBER</span>
                <input class="box" type="password" name="un" placeholder="98445 54783" size="48" border-radius="5px;" id="pswdErr"
                       onfocus="this.placeholder=''" onblur="this.placeholder='98445 54783'">
<!--                <img class="image-eye-landing" id="eye-icon" th:src="@{/images/EyeIcon.png}" alt="" width="24px"-->
<!--                     height="24px" onclick="myFunction1()">-->
<!--                <img class="image1-landing" th:src="@{/images/EyeIconblue.png}" alt="" width="24px" height="24px"-->
<!--                     onclick="myFunction2()" style="display:none" id="eye-pswd">-->
                <p class="field" style="font-size:10px;">This field is required</p>

            </div>
        </div>
        <div class="submit-button"><button style="width:107px;height:36px;margin-left: 25%;cursor:pointer" type="submit" class="button"  onclick="loginFunction1()">SUBMIT</button>
            <script>
                    function loginFunction1()
                    {
                        window.location=src="/AppSuccess";
                    }
                </script>
        </div>
    </div>
</div>
</body>
</html>