<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>App-Success</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/guest-jini.css}">
<!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/AppError.css}">-->
</head>
<body>
<div class="main">
    <div class="login">
        <img class="image" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p class="start">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div class="align">

            <p class="fp"><b>APP ACCESS REQUEST</b></p>
            <p class="link">Lorem ipsum dolor sit amet, consectetur</br>
                adipiscing elit. Mauris mattis, tortor sit.</p>


        </div>
    </div>
</div>
</body>
</html>