<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password-Success</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">

</head>
<body>
<div class="main" style="margin-left: 18%;">
    <div class="main-layer" style="margin-right: 40%;" onclick="whole()">
        <script>
                        function whole() {
                            window.location = src = "/OTPforgotpassword";
                        }
                    </script>
        <img style="margin-left:34%;" class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <div style="margin-left: 16%;
    margin-top: 6%;">
            <p style="font-family:roboto; width:83%; color:#5A5A5A; font-size:14px;letter-spacing:0.35px;margin: auto;font-weight: 400;">Lorem ipsum dolor sit amet, consectetur
                <span style="font-family:roboto; width:85%; color:#5A5A5A; font-size:14px;letter-spacing:0.35px;margin: auto;font-weight: 400;">adipiscing elit. Etiam erat sapien, ultricies.</span>
            </p></div>
        <div class="align-back" style="width:474px; height:166px;outline:none;">

            <p class="forgot-p" style="font-family:roboto; font-weight:900; letter-spacing:1.6px"><b>FORGOT PASSWORD</b></p>
            <p class="link"  style="font-family:roboto; font-weight:400; letter-spacing:0.7px;line-height: 1.6;">A link has been sent to your email account</br>
                to reset your password.</p>


        </div>
    </div>
</div>
</body>
</html>