<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot-Password</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">

</head>

<body>
<div class="main">
    <div class="sub-layer">
        <img style="margin-left: 32%;margin-bottom: 7%;" class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">
        <div style="margin-left:18%;">
        <p style="font-family:roboto; width:91%; color:#5A5A5A; font-size:14px;letter-spacing:0.35px;margin: auto;font-weight: 400;">Lorem ipsum dolor sit amet, consectetur
            <span style="font-family:roboto; width:85%; color:#5A5A5A; font-size:15px;letter-spacing:0.35px;margin: auto;font-weight: 400;">adipiscing elit. Etiam erat sapien, ultricies.</span></p></div>
        <div class="align">
            <div class="layer">
                <span class="login"  style=" font-weight: 700;"><b>Forgot password?</b></span>

                <p class="link-reset">The link to reset your password will be sent to your registered email address
                    and
                    mobile number.</p>
            </div>
            <div class="error1">
                <p class="invalid" style="font-weight:600;font-family:roboto;">Invalid login credentials</p>
            </div>
            <div class="error2" style="margin-top: 6%;">
                <p class="invalid" style="font-weight:600;font-family:roboto;">Invalid email.</br> This email is not registered with GuestJini.</p>
            </div>
            <div class="error2" style="margin-top: 7%;">
                <p class="invalid" style="font-weight:600;font-family:roboto;">Invalid mobile number </br>This mobile number is not registered with GuestJini.</p>
            </div>
            <div>
                <input class="box" type="text" name="un" placeholder="Email or Mobile Number" size="48" onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
                <p class="field" style="font-family:roboto;font-weight: 400;">This field is required</p>
            </div>

            <div class="reset-button"><button style="width:226px; cursor:pointer;height:36px;" type="submit" class="button" onclick="loginFunction1()">RESET
                PASSWORD</button>
                <script>
                        function loginFunction1() {
                            window.location = src = "/ForgotPswdSuccess";
                        }
                    </script>
            </div>
            <div class="create-account">
                <p style="color: #747474;font-size:14px; font-family:roboto;margin-left: 11%;">Don’t have an account yet?
                    <a class="get-one" style="color: #32BDD2; font-size:14px;font-family:roboto;cursor:pointer;font-weight: 500;" href="#" onclick="loginFunction2()">Get one now.</a></p>
                <script>
                        function loginFunction2() {
                            window.location = src = "/AccountLanding";
                        }
                    </script>

            </div>
        </div>
    </div>
</div>












</body>

</html>