<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">

<head>
    <title>Login-Validation</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">

    <script>
        function myFunction() {
 document.getElementById("inputErr1").style.border="1px solid #BF574A";
 document.getElementById("inputErr2").style.border="1px solid #BF574A";
 document.getElementById("inputErr3").style.border="1px solid #BF574A";
 document.getElementById("inputErr4").style.border="1px solid #BF574A";
 document.getElementById("success").style.display="none";
 document.getElementById("wrong-otp").style.display="block";

        }
        function myFunction2() {
  document.getElementById("success").style.display="block";

        }

        function submit(){
        document.getElementById("success").style.display = "block";
          document.getElementById("otp").style.display = "none";
                   }

    </script>
</head>

<body>
<div class="main">
    <div class="main-layer">
        <img class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p class="start" id="lorem" style="font-family:roboto; width:83%; color:#5A5A5A; font-size:14px;letter-spacing:0.35px;margin: auto;font-weight: 400;">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div class="alignment"  id="otp">
            <div class="verify">
                <span style="font-size: 18px;margin-left: 18%;letter-spacing: 0.9px;
    color: #747474;
    font-weight: 900;"><b>Verification Code</b></span>
                <p style="color: #747474;
    font-size: 14px;
    font-family:roboto;
    letter-spacing: 0.7px;width: 83%;margin-left:3%;font-weight: 400;">Please type the verification code sent to
                <span style="color: #747474;
    font-size: 14px;
    font-family:roboto;
    letter-spacing: 0.7px; margin-left: 24%;font-weight: 400;">your mobile number.</span></p>
            </div>
            <div style="width: 308px;
    margin-left: 8%;
    height: 36px;
    margin-top: 5%;
    font-family:roboto;
    display: flex;align-items: center;
    justify-content: space-between;
    background-color: #FFEEEB;">
                <p class="invalid" style="padding-left: 19px;
    display: inline-block;margin-top: 3%; font-weight:600" >You have entered wrong OTP.</p>
            </div>
            <span class="time">0:59</span>
            <div>
                <input style="margin-left: 8%;outline:none;border-radius: 7px;" class="box-id" type="text" name="un" placeholder="" size="48" id="inputErr1">&nbsp;
                <input style="margin-left: 5%;outline:none;border-radius: 7px;" class="box-id" type="text" name="un" placeholder="" size="48" id="inputErr2">&nbsp;
                <input style="margin-left: 5%;outline:none;border-radius: 7px;" class="box-id" type="text" name="un" placeholder="" size="48" id="inputErr3">&nbsp;
                <input style="margin-left: 5%;outline:none;border-radius: 7px;" class="box-id" type="text" name="un" placeholder="" size="48" id="inputErr4">
            </div>

            <div class="resend-otp">
                <a style="color: #32BDD2" href="#">Resend OTP?</a>
            </div>

            <div class="submit-button"><button style="width:107px; height:36px;margin-left: 16%;cursor:pointer" type="submit" class="button"  onclick="submit();">SUBMIT</button>
<!--                <script>-->
<!--                        function myFunction() {-->
<!--                            window.location = src = "/OTPsuccess";-->
<!--                        }-->
<!--                    </script>-->
            </div>
        </div>
    </div>


            <div class="align-back" style="width:474px; height:166px;margin:auto;margin-top: 6%;outline:none;display:none" id="success";>

                <p class="forgot-p" style="font-family:roboto; font-weight:900; letter-spacing:1.6px"><b>FORGOT PASSWORD</b></p>
                <p class="link"  style="font-family:roboto; font-weight:400; letter-spacing:0.7px;line-height: 1.6;">New password has been sent to your </br>
                    registered mobile number.</p>
            </div>
        </div>
    </div>

</body>

</html>