<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot-Password</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/GuestJini.css}">

</head>

<body>
<div class="main" id="forgotPassword">
    <div class="sub-layer">
        <img class="guesture-logo" th:src="@{/images/GuestureLogo.png}" alt="">
        <div class="text-description-align">
        <p class="description-text-medium">Lorem ipsum dolor sit amet, consectetur
            <span class="description-text-medium">adipiscing elit. Etiam erat sapien, ultricies.</span></p></div>
        <div class="align">
            <div class="layer">
                <span class="login">Forgot password?</span>

                <p class="link-reset">The link to reset your password will be sent to your registered email address and mobile number.</p>
            </div>
            <div class="error-login hidden-visibility" id="invalidLoginCredit">
                <p class="invalid-login">Invalid login credentials</p>
            </div>
            <div class="error-register">
                <p class="invalid-login" >Invalid email.</br> This email is not registered with GuestJini.</p>
            </div>
            <div class="error-register-mobile">
                <p class="invalid-login">Invalid mobile number </br>This mobile number is not registered with GuestJini.</p>
            </div>
            <div class="Email">
                <input class="box" type="text" name="username" placeholder="Email or Mobile Number" size="48"
                       id="inputError" onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
                <span class="fieldErrorLoginPage" id="FieldEmailError">This field is required</span>
            </div>

            <div class="reset-button"><button type="submit" class="button button-reset-password" onclick="reset()">RESET PASSWORD</button>
            </div>

            <div class="create-account">
                <p class="no-account">Don’t have an account yet?
                    <a class="hyperlink-text " href="#" onclick="getNewAccount()">Get one now.</a></p>
            </div>
        </div>
    </div>
   </div>


   <div class="main landing" id="passwordSuccess" >
    <div class="main-layer" onclick="PasswordSuccess()">

        <img class="guesture-logo" th:src="@{/images/GuestureLogo.png}" alt="" >

        <div class="lorem-details">
            <p class="description-text-medium">Lorem ipsum dolor sit amet, consectetur
                <span class="description-text-medium">adipiscing elit. Etiam erat sapien, ultricies.</span>
            </p></div>

        <div class="success-message">
            <p class="message-title" ><b>FORGOT PASSWORD</b></p>
            <p class="message-link" >A link has been sent to your email account</br>to reset your password.</p>
        </div>
    </div>
   </div>

</body>
<script th:src="@{/js/login-page.js}" type="text/javascript"></script>
</html>