<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot-Password</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">

</head>

<body>
<div class="main">
    <div class="sub-layer">
        <img class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p class="start">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div class="align">
            <div>
                <span class="login"><b>Forgot password?</b></span>

                <p class="link-reset">The link to reset your password will be sent to your registered email address
                    and
                    mobile number.</p>
            </div>
            <div class="error1">
                <p class="invalid">Invalid login credentials</p>
            </div>
            <div class="error2">
                <p class="invalid">Invalid email.</br> This email is not registered with GuestJini.</p>
            </div>
            <div class="error2">
                <p class="invalid">Invalid mobile number </br>This mobile number is not registered with GuestJini.</p>
            </div>
            <div>
                <input class="box" type="text" name="un" placeholder="Email or Mobile Number" size="48">
                <p class="field">This field is required</p>
            </div>

            <div class="reset-button"><button type="submit" class="button" onclick="loginFunction1()">RESET
                PASSWORD</button>
                <script>
                        function loginFunction1() {
                            window.location = src = "/ForgotPswdSuccess";
                        }
                    </script>
            </div>
            <div class="create-account">
                <p style="color: #747474;">Don’t have an account yet?
                    <a class="get-one" style="color: #32BDD2" href="#" onclick="loginFunction2()">Get one now.</a></p>
                <script>
                        function loginFunction2() {
                            window.location = src = "/AccountLanding";
                        }
                    </script>

            </div>
        </div>
    </div>
</div>












</body>

</html>