<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password-Success</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/LoginPage.css}">

</head>
<body>
<div class="main">
    <div class="main-layer">
        <img class="image-logo" th:src="@{/images/GuestureLogo.png}" alt="" width="153px" height="45px">

        <p class="start">Lorem ipsum dolor sit amet, consectetur</br>
            adipiscing elit. Etiam erat sapien, ultricies.</p>
        <div class="align-back">

            <p class="forgot-p"><b>FORGOT PASSWORD</b></p>
            <p class="link">A link has been sent to your email account</br>
                to reset your password.</p>


        </div>
    </div>
</div>
</body>
</html>