<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Change-Password</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/GuestJini.css}" rel="stylesheet">
</head>

<body class="change-password-body">
<header class="community-header">
    <div th:replace="shared/dashboard :: dashboard"></div>
</header>

<div class="content">
    <div class="community-desc">
        <span class="change-password-title-name">CHANGE PASSWORD</span>
        <p class="change-password-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.</p>
    </div>


<div class="profile-container">
    <div>
          <div class="change-password-content">
        <p class="change-password-title">Current Password</p>
        <input id="inputError1" class="box" type="text" name="username" placeholder="Email or Mobile Number" size="48"
                onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
              <img class="mask-icon1"  th:src="@{/images/EyeIcon.png}" alt="" width="24px" height="24px" >
              <span class="fieldErrorLoginPage change-password-field" id="FieldEmailError1">This field is required or Wrong Password.</span></div>

        <div class="change-password-content">
        <p class="change-password-title">New Password</p>

        <input id="inputError2" class="box" type="text" name="username" placeholder="Email or Mobile Number" size="48"
               onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
            <img class="mask-icon2"  th:src="@{/images/EyeIcon.png}" alt="" width="24px" height="24px">
            <span class="fieldErrorLoginPage change-password-field" id="FieldEmailError2" >This field is required</span></div>

            <div class="change-password-content">
        <p class="change-password-title">Confirm Password</p>
        <input id="inputError3" class="box" type="text" name="username" placeholder="Email or Mobile Number" size="48"
               onfocus="this.placeholder=''" onblur="this.placeholder='Email or Mobile Number'">
                <img class="mask-icon3"  th:src="@{/images/EyeIcon.png}" alt="" width="24px" height="24px">
                <span class="fieldErrorLoginPage change-password-field" id="FieldEmailError3" >This field is required or Passwords not matching.</span></div>

        <div><button type="submit" class="button change-passwordbtn" onclick="changepassword()" >CHANGE PASSWORD</button></div>
        <script>
          function changepassword(){
               document.getElementById("FieldEmailError1").style.display = "block";
                document.getElementById("FieldEmailError2").style.display = "block";
                 document.getElementById("FieldEmailError3").style.display = "block";
               document.getElementById("inputError1").style.border = "1px solid #BF574A";
               document.getElementById("inputError2").style.border = "1px solid #BF574A";
               document.getElementById("inputError3").style.border = "1px solid #BF574A";
             }
              </script>

</div>
</div>
</body>
</html>