<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Private-Policy</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/GuestJini.css}" rel="stylesheet">
</head>
<script>
       window.addEventListener('load', function(){
                var link = document.getElementById("privacy-policy-link");
                var linkImg = document.getElementById("privacy-policy-img");
                link.className += " active";
                linkImg.src = "/images/burger-menu/extra-large-256px/Artboard 1 copy 17@16x1.png";
            });
</script>

<body class="change-password-body">
<header class="community-header">
    <div th:replace="shared/dashboard :: dashboard"></div>
</header>
<div th:replace="shared/burger-menu :: burgerMenu"></div>
<div class="content">
    <div class="community-desc">
        <span class="change-password-title-name">PRIVACY POLICY</span>
        <p class="change-password-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo vestibulum.</p>
    </div>


    <div class="profile-container">
        <div class="privacy-description">
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed tincidunt metus. Nam ullamcorper felis eu lectus ullamcorper luctus.
            Suspendisse vitae purus scelerisque purus placerat posuere at ac metus. Quisque placerat diam neque, nec rhoncus tortor iaculis nec.
            Donec molestie elementum eleifend. Ut rutrum ullamcorper nibh non mattis. Praesent arcu lectus, euismod quis lacus et, ullamcorper accumsan ante.
            Morbi dui justo, suscipit quis aliquet non, varius id tortor. Aliquam in ligula quis quam auctor varius. Quisque eget velit eu ante pharetra cursus.
            Integer porta ut nisi vel venenatis. Integer orci nunc, maximus sit amet quam ac, posuere aliquam eros. In nec porta nibh. Vestibulum sed pulvinar erat.
            Nullam aliquam vehicula tortor sit amet egestas.Nam erat felis, dignissim maximus aliquam mattis, consequat ut urna.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam lobortis scelerisque mi a eleifend.
            Sed semper accumsan justo, in condimentum dui. Aenean laoreet in leo in luctus. Pellentesque sed sem commodo ex molestie congue.
              Duis tristique diam urna, hendrerit luctus risus volutpat eget. Donec sed nisi tellus.</p>
         <p class="margin-align">     Vivamus eu orci consectetur, vestibulum erat eu, dictum tortor.
            Integer diam nunc, convallis ut bibendum nec, finibus mattis nisi. Nullam ut mattis quam, in rutrum enim. Pellentesque sagittis sem mi, ultrices pellentesque
            lacus congue sit amet. Sed varius justo vel quam efficitur semper. Nunc pellentesque sit amet dui non suscipit. Mauris dictum sit amet neque eu rutrum.
            Nullam ornare, est eu egestas sollicitudin, enim velit tincidunt dui, quis aliquet tortor mi non ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Phasellus fermentum dolor ac nisl posuere efficitur vel sed erat. Nunc ullamcorper efficitur consequat. Morbi lacus erat, lacinia sed turpis vel, lacinia scelerisque sem.
            Suspendisse ornare, lorem eget posuere hendrerit,
            eros ligula placerat orci, id gravida purus metus sit amet eros. Praesent consectetur libero eu nunc tempus, nec laoreet diam egestas.</p>
        </div>
    </div>
</div>
</body>
</html>