<div class="row">
    <div class="col-md-12" style="width:100%;color: #1F675E;text-align: left">
        <div class="row">
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a href="/index.php/cbd-oil/"> CBD Oil</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 5%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 10%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 15%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 20%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 30%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 40%</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a href="/index.php/face-care/"> Face Care </a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Face Cream</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Night Cream</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Day Cream</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Face Massage</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">SOS BALM</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Eye Cream</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Eye serum</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a
                        href="/index.php/bodycareproducts/"> Body Care</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Ointment</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Body Butter</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Body Milk</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Body Oil</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Hand Cream, Light</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Hand Cream, Intense</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a href="/index.php/cleansing/">Cleansing</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Sanitiser Spray</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Sanitiser Gel</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Shower Gel</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Liquid Soap</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Foam Cleanser</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Essential Freshener</span>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-md-12" style="width:100%;color: #1F675E;text-align: left">
                            <div class="row">
                                <div class="col-md-2">
                                    <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a
                                            href="/index.php/cbd-oil/"> CBD Oil</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 5%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 10%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 15%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 20%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 30%</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Broad Spectrum 40%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a
                                            href="/index.php/face-care/"> Face Care </a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Face Cream</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Night Cream</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Day Cream</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Face Massage</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">SOS BALM</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Eye Cream</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Eye serum</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a
                        href="/index.php/bodycareproducts/"> Body Care</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Ointment</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Body Butter</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Body Milk</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Body Oil</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Hand Cream, Light</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Hand Cream, Intense</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span style="font-size: 18px;font-weight: 700;text-decoration:none"><a
                                            href="/index.php/cleansing/">Cleansing</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Sanitiser Spray</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Sanitiser Gel</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Shower Gel</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Liquid Soap</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Foam Cleanser</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Essential Freshener</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;">Tooth Paste</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/mouth-wash/">Mouth Wash</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span style="font-size: 18px;font-weight: 700;"><a href="/index.php/hair-beard/">Hair &amp; Beard</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/shampoo/">Shampoo</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/conditioner/">Conditioner</a> </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/beard-balm/">Beard Balm</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/beard-oil/">Beard Oil</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/beard-softener/">Beard Softener</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/beard-shampoo/">Beard Shampoo</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <span style="font-size: 18px;font-weight: 700;"><a
                                            href="/index.php/pet-products-2/">Pet Products</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/joint-care/">Joint Care</a></span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom:20px">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/cbd-oils/">CBD Oils</a></span>
                                        </div>
                                    </div>
                                    <span style="font-size: 18px;font-weight: 700;margin-top:30px;"><a
                                            href="/index.php/specialist/">Specialist</a></span>
                                    <div class="row" style="margin-top:20px;">
                                        <div class="col-xs-12">
                                            <span style="font-size: 15px;font-weight: 400;"><a
                                                    href="/index.php/arousal-gel/">Arousal Gel</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;">Tooth Paste</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/mouth-wash/">Mouth Wash</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;"><a
                        href="/index.php/hair-beard/">Hair &amp; Beard</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/shampoo/">Shampoo</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a
                                href="/index.php/conditioner/">Conditioner</a> </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/beard-balm/">Beard Balm</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a
                                href="/index.php/beard-oil/">Beard Oil</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/beard-softener/">Beard Softener</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/beard-shampoo/">Beard Shampoo</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <span style="font-size: 18px;font-weight: 700;"><a
                        href="/index.php/pet-products-2/">Pet Products</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a href="/index.php/joint-care/">Joint Care</a></span>
                    </div>
                </div>
                <div class="row" style="margin-bottom:20px">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a
                                href="/index.php/cbd-oils/">CBD Oils</a></span>
                    </div>
                </div>
                <span style="font-size: 18px;font-weight: 700;margin-top:30px;"><a href="/index.php/specialist/">Specialist</a></span>
                <div class="row" style="margin-top:20px;">
                    <div class="col-xs-12">
                        <span style="font-size: 15px;font-weight: 400;"><a
                                href="/index.php/arousal-gel/">Arousal Gel</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
    </div>
</div>
