<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Community-open-groups</title>
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto&display=swap}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
</head>

<body>
<header class="community-header">
    <div th:replace="shared/dashboard :: dashboard">
    </div>
</header>

<div th:replace="shared/burger-menu :: burgerMenu"> </div>

<div class="content">

    <div class="community-desc">
        <span class="community-title">COMMUNITY</span>
        <p class="community-text">Lorem ipsum dolor
            sit amet, consectetur adipiscing elit. Aenean feugiat felis id sem elementum, sit amet sollicitudin leo
            vestibulum.</p>
    </div>

    <div class="popup" id="upload-success">
    <div class="photo-upload">
        <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" onclick="closeFrame()"><br><br>
        <p class="success">SUCCESS</p>
        <p class="success-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
        <input type="button" class="submit-btn" value="DONE" onclick="closeFrame()">
    </div>
    </div>


    <div class="profile-container">
        <div class="left-content">
            <div class="empty-box"></div>
            <div class="people">
                <span class="red-notification-box"><br></span>
                <span class="my-profile-head">MY PROFILE</span>
                <p class="my-profile-txt">Based on your profile, you will be able to connect with the best matches who share your interests. Go ahead and setup your profile.</p>
            </div>
            <div class="people">
                <span class="red-notification-box"><br></span>
                <span class="my-profile-head">PEOPLE</span>
                <p class="my-profile-txt">Meet the community members and make new friends.</p>
            </div>
            <div class="my-profile">
                <span class="red-notification-box"><br></span>
                <span class="my-profile-head">GROUPS</span>
                <p class="my-profile-txt">Join the groups and catch all the action. You will get suggestions based on your profile.</p>
            </div>
        </div>

        <div class="popup" id="ignore">
        <div class="photo-upload">
            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 38c@16x.png}" height="45" width="45" onclick="closeFrame()"><br><br>
            <p class="ignore-text1">IGNORE?</p>
            <p class="ignore-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis, tortor sit amet tempor vehicula, tortor ipsum faucibus nunc, id aliquam lacus odio nec magna.</p>
            <div class="ignore-flex">
                <input type="button" class="submit-btn ignore-btn" value="IGNORE" onclick="">
                <input type="button" class="submit-btn no-btn" value="NO" onclick="">
            </div>
        </div>
        </div>

        <div class="right-content1">

            <div class="my-profile-options" id="community-groups">
                <div class="open-group-flex">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 47@16x.png}" width="35" height="35" alt="icon" class="round-img-shadow">
                    <span class="community-head">COMMUNITY GROUPS</span>
                </div>
                <div class="group-view1" id="group-view">
                    <div class="group-info">
                        <p class="group-info-head">GEEKS</p>
                        <p class="group-info-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim felis et magna mattis finibus. Nulla elit ligula, placerat tincidunt ipsum eu, ornare semper felis. Duis arcu massa, venenatis eget ante sodales, posuere volutpat risus. Aenean et justo eu massa sodales posuere. Nullam sollicitudin nibh in turpis placerat venenatis.</p>
                    </div>
                    <div class="group-admin-details">
                        <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                        <div class="group-admin-margin">
                            <p class="created-by">CREATED BY</p>
                            <p class="group-admin-name">Markus LawlessBravos</p>
                            <p class="group-created-date">7th July 2019 11:38 AM (2 Hours ago)</p>
                        </div>
                    </div>

                    <div id="snackbar-request">
                        Your request to join this group has been sent to admin.
                    </div>

                    <div id="request-option">
                        <p class="joining-interest">I would like to join GEEKS.</p>
                        <p class="joining-interest-sub">Your request will be sent to Admin.</p>
                        <input type="button" class="submit-btn send-request-btn" id="request-btn" value="SEND REQUEST" onclick="sendRequest(), setTimeout(requestSent, 2000);">
                        <div id="waiting-msg">
                            <img th:src="@{/images/extra-large-256px/Artboard 1 copy 34@16x.png}" width="15" height="15" class="round-img" id="loading-img"/>
                            <span class="please-wait">PLEASE WAIT</span>
                        </div>
                    </div>

                    <div id="request-sent-msg">
                        <div>
                            <p class="awaiting-req-txt1">You sent a request to join this group on 8th July 2019</p>
                            <p class="awaiting-req-txt2">Awaiting Nora Bravos to accept your request.</p>
                        </div>
                    </div>

                    <div class="group-view-flex2">
                        <p class="group-view-members-count">27 Members</p>
                        <span class="group-view-line"></span>
                    </div>
                    <div class="group-members">
                        <div class="member">
                            <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                            <div class="group-view-margin2">
                                <p class="group-member-name">Sam Colon</p>
                                <p class="group-member-join-date">Since 29 July 2019</p>
                            </div>
                        </div>
                    </div>

                    <div class="group-members">
                        <div class="member">
                            <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                            <div class="group-view-margin2">
                                <p class="group-member-name">Luke Ray</p>
                                <p class="group-member-join-date">Since 29 July 2019</p>
                            </div>
                        </div>
                    </div>

                    <div class="group-members">
                        <div class="member">
                            <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                            <div class="group-view-margin2">
                                <p class="group-member-name">Daisy Lake</p>
                                <p class="group-member-join-date">Since 29 July 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="group-members">
                        <div class="member">
                            <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                            <div class="group-view-margin2">
                                <p class="group-member-name">Mark Smith</p>
                                <p class="group-member-join-date">Since 29 July 2019</p>
                            </div>
                        </div>
                    </div>

                    <div class="group-members">
                        <div class="member">
                            <img th:src="@{/images/profile-pic.jpg}" height="40" width="40" alt="admin-pic" class="round-img">
                            <div class="group-view-margin2">
                                <p class="group-member-name">Dan Park</p>
                                <p class="group-member-join-date">Since 29 July 2019</p>
                            </div>
                        </div>
                    </div>
                    <div class="show-more">
                        <p class="head-text show-more-txt">
                            SHOW MORE
                        </p>
                        <img th:src="@{/images/extra-large-256px/Artboard 1 copy@16x.png}" height="10" width="10" alt="list-button">
                    </div>
                </div>
                <div class="group-view-back-btn">
                    <img th:src="@{/images/extra-large-256px/Artboard 1 copy 9@16x.png}" height="15" width="15" onclick="backToGroupView()"/>
                    <p onclick="backToGroupView()">BACK</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/communityOpenGroup.js}" type="text/javascript"></script>

</html>