<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div >
    <span>Dear </span> <span th:text="${user.fullName}"></span>
    <br/>
    <p><a th:href="${user.passwordResetLink}">Click here</a> to reset your password </p>
    <br/>
    <p>Regards</p>
    <p>Guesture Team
</div>
</div>
</div>
</body>
</html>