
.change-password-body {
    background-color: #E5E5E5;
    font-family: roboto;
}

.community-desc {
    padding: 3%;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

.content {
    margin: 2%;
    background-color: #EEEEEE;
}
.community-header {
    min-height: 6vh;
}

.change-password-title{
    color:#464646;
    font-family: roboto;
    font-size: 14px;
    font-weight: 900;
    opacity: 1;
    letter-spacing: 1.4px;
}

.change-password-text {
    color: #747474;
    font-family: roboto;
    font-size: 12px;
    width: 48%;
    margin-top: 15px;
    letter-spacing: 0.6px;
    line-height: 2;
}
.profile-container {
    display: flex;
padding: 25%;
    background-color: #FFFFFF;
}