* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #E5E5E5;
    font-family: roboto;
}
* {
    font-family: roboto;
}

[onClick] {
    cursor: pointer;
}

.community-desc {
    padding: 3%;
    background-color: #FFFFFF;
    margin-bottom: 5px;
}

.content {
    margin: 2%;
    background-color: #EEEEEE;
}

.flex-box {
    display: flex;
}

.profile-container {
    display: flex;
    background-color: #EEEEEE;
}

.left-content {
    background-color: #FFFFFF;
    width: 35%;
    border-right: solid 1px #CCCCCC;
}

.right-content {
    background-color: #FFFFFF;
    padding: 2%;
    width: 65%;
}

.right-content1 {
    background-color: #FFFFFF;
    padding: 2% 2% 0% 2%;
    width: 60%;
}

.my-profile {
    padding: 5% 13%;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.29);
    border: solid 1px #FFFFFF;
    background-color: #FFFFFF;
    width: 91%;
    z-index: 1;
}

.search-bar {
    display: flex;
    align-items: center;
    border: solid 1px #CCCCCC;
    border-radius: 16px;
    margin-top: 6vh;
    padding: 2px 10px;
}

.search-bar input[type=text]:focus {
    border: 0px solid #555;
}
input[type=text]:focus {
  outline: none;
}
.people{
    padding: 5% 13%;
    background-color: #EEEEEE;
    margin-top: 0px;
    border-bottom: solid 1px #CCCCCC;
}

.request {
    display: block;
    padding: 2% 4%;
    background-color: #EEEEEE;
    float: right;
    width: 333px;
    margin-top: 4vh;
}
.request-box{
    border: solid 0.25px #CCCCCC;
}
.submit-btn{
    background-color: #32BDD2;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
    border: solid 1px #32BDD2;
    border-radius: 3px;
    letter-spacing: 1.5px;
}
.exit-btn{
    background-color: #E65959;
    border: 0px;
}

#loading-img {
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: solid 0.5px #CCCCCC;
}

.check-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EEEEEE;
    margin-top: 3%;
    margin-bottom: 3%;
}

.top-gap {
    margin-top: 4vh;
}

.hideshow {
    padding: 0px 10px;
    border-radius: 50%;
}

.show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    margin-top: 6%;
    margin-bottom: 3%;
}

.joined-members-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    margin-top: 6%;
}

.pending-members-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    margin-top: 6%;
}

.joined-members {
    display: block;
    border: solid 0.5px #CCCCCC;
}

.pending-members {
    display: none;
    border: solid 0.5px #CCCCCC;
}

.head-text {
    display: block;
    color: #747474;
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
    letter-spacing: 0.35px;
    margin-left: 20px;
}

.view-interest-list {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 11px #999999;
    padding: 2.5% 0% 2.5% 2%;
    left: 79.3%;
    width: 253px;
    border-radius: 0px 0px 10px 10px;
}

.show {
    display: block;
}

.drop-down-list {
    display: none;
}

.container input:checked {
    background-color: #000000;
    color: #FFFFFF;
}

#interests-setup {
    display: none;
}
.popup{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.29);
    top: 0%;
    left: 0%;
}
.photo-upload {
    width: 33%;
    background-color: #FFFFFF;
    padding: 10px 1.5vw 1vw 1.5vw;
    border-radius: 20px;
    margin: 18% auto;
}

.left-part {
    width: 50%;
    border: solid 0.5px #CCCCCC;
    padding: 4% 0% 4% 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.hidden-msg {
    visibility: hidden;
    min-width: 250px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    border-radius: 11px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.33);
    padding: 30px;
    font-size: 12px;
    letter-spacing: 0.6px;
    /*position: fixed;*/
    z-index: 1;
    font-size: 17px;
}

#hide.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.right-part {
    width: 50%;
    background-color: #32BDD2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

#snackbar-invite {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-invite.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-request {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-request.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-profile {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-profile.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1-profile {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1-profile.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-age {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-age.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1-age {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1-age.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-mobile {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-mobile.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1-mobile {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1-mobile.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-email {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-email.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1-email {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1-email.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-origin {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-origin.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar1-origin {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1-origin.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-group {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #747474;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    border-radius: 11px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-group.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #FFFFFF;
    border: solid #B5B5B5 0.5px;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #FFFFFF;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #000000;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.groups-list {
    display: none;
}

.groups {
    display: block;
   /* padding: 10% 20%;*/
}

.group-content {
    padding: 0% 03%;
}

.group-view {
    display: none;
}

.group-admin-details {
    padding: 2.5% 3.5%;
    display: flex;
    align-items: center;
    width: 42%;
    background-color: #EEEEEE;
    border: solid #E4E4E4 0.5px;
    margin-top: 4vh;
}

.interest-group-notification {
    display: flex;
    padding: 0px 10px 5px 0px;
    width: 83%;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.round-img {
    border-radius: 50%;
}

.round-img-background {
    background-color: white;
}

.round-img-shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.58);
    border-radius: 50%;
}

.search-not-found {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 30vw;
}

.group-info {
    background-color: #EEEEEE;
    width: 85%;
    padding: 3% 5%;
    margin-top: 4vh;
}
.group-info-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-info-flex1{
     background-color: #EEEEEE;
     padding: 3% 5%;
     margin-top: 4vh;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .request-flex{
        background-color: #EEEEEE;
        padding: 3% 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
 }
.group_info1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 4% 5%;
    background-color: #EEEEEE;
    margin-top: 4vh;
}

.conversation-view {
    background-color: #DFEBF7;
    padding: 2% 5%;
    width: 70%;
}

#conversation-notification {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 15px;
    background-color: #E65959;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incoming-message {
    background-color: #FFFFFF;
    border: solid #FAFAFA 0.5px;
    padding: 2% 3%;
    width: 45%;
    margin: 5% 0%;
    border-radius: 5px;
}

.sent-message-btm {
    text-align: right;
    background-color: #FFFFFF;
    border: solid #FAFAFA 0.5px;
    padding: 2% 3%;
    width: 45%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cursor {
    cursor: pointer;
}

.notification {
    margin-right: auto;
}

.group-members {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #CCCCCC 0.5px;
    align-items: center;
    padding: 0px 20px;
}

.msg-sent {
    display: none;
}
.msg-sent1{
    display: block;
}
.invite-people{
    display: block;
}

.member {
    display: flex;
    align-items: center;
    padding: 4vh 0vh 3vh 0vh;
}

.invited {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 3% 4%;
    background-color: #E2DDC2;
    border: solid #DBD6BC 0.25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.29);
}

.accepted {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    padding: 1% 5% 3% 4%;
    background-color: #EEEEEE;
    border: solid #CCCCCC 0.25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
}

.community-header {
    min-height: 6vh;
}

.community-title {
    color: #464646;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.community-text {
    color: #707070;
    font-size: 12px;
    width: 48%;
    margin-top: 15px;
    letter-spacing: 0.6px;
    line-height: 2;
}

.upload {
    padding: 10px 3.5vw 4vw 3.5vw;
}

#uplaod-profile-pic-close {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.upload-head {
    font-weight: 900;
    color: #32BDD2;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 2;
    margin: 60px 0px 20px 0px;
}

.file-from-computer {
    color: #747474;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 900;
}

.file-from-computer span {
    font-size: 14px;
    font-weight: 500;
}

.open-file-hidden {
    height: 0px;
    overflow: hidden;
}

#profile-pic {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    font-size: 12px;
}

.drop-file-upload {
    border: solid 2px #FFFFFF;
    border-style: dashed;
    padding: 8.5%;
    margin: 4%;
    border-radius: 4px;
}

.drop-file-upload img {
    display: block;
    margin: auto;
}

.drop-file-upload p {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
}

.upload-btn {
    padding: 1.5% 5% 1.5% 5%;
    margin-top: 50px;
}

#upload-failed {
 /*   width: 30%;
    height: 27%;
    left: 30%;*/
}

#upload-failed img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.failed {
    color: #E65959;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.failed-txt {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 2.4;
    width: 80%;
}

#upload-failed input {
    display: block;
    background-color: #E65959;
    margin: 3vw auto;
    border: 0px;
}

#upload-success {
 /*   width: 30%;
    left: 30%;
    padding-bottom: 1vw;*/
}

#upload-success img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.success {
    color: #32BDD2;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.success-txt {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 2.4;
    width: 80%;
}

#upload-success input {
    display: block;
    margin: 2vw auto;
    border: 0px;
}

.empty-box {
    min-height: 1.2vh;
    background-color: #EEEEEE;
}

.red-notification-box {
    background-color: #E65959;
    padding: 1.6px;
    padding-left: 30px;
    font-size: 1px;
    line-height: 20px;
}

.my-profile-head {
    color: #464646;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.my-profile-txt {
    color: #747474;
    font-size: 12px;
    width: 75%;
    margin-top: 15px;
    letter-spacing: 0.3px;
    line-height: 1.8;
}

#origin-frame {
 /*   width: 30%;
    left: 30%;
    top: 115%;
    padding-bottom: 2%;*/
}

#origin-frame img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.main-adventure {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    color: #909090;
}

.interest-group-event-list {
    color: #5A5A5A;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 2.5;
    font-weight: 600;
}

.short-paragraph {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.4;
    display: -webkit-inline-box;
    width: 58%;
    color: #909090;
    font-weight: 400;
}

.group_information {
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 4% 5%;
    background-color: #EEEEEE;
    margin-top: 4vh;
}

.adventure-list {
    color: #909090;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-weight: 600;
}

.exitGroup {
    background-color: #E65959;
    border: 0px;
    border-radius: 2px;
    padding: 10px 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    letter-spacing: 1.2px;
    outline: none;
    cursor: pointer;
}

.event-list-short-description {
    color: #747474;
    width: 84%;
    font-size: 11px;
    letter-spacing: 0.3px;
    line-height: 1.8;
}

.interest-group-creator {
    letter-spacing: 0.5px;
    font-size: 10px;
    line-height: 20px;
    color: #909090;
}

.interest-group-system {
    letter-spacing: 0.35px;
    font-size: 14px;
    line-height: 15px;
    color: #5A5A5A;
}

.interest-group-date {
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    color: #909090;
}

.group-float {
    float: right;
}

.exit-text {
    color: #E65959;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.exit-popup-message {
    display: flex;
    margin: 3vw 5vw 1vh 5vh;
    justify-content: space-evenly;
}

.interest-exit-button {
    display: block;
    background-color: #E65959;
    cursor: pointer;
    border: 0px;
    padding: 0.5vw 2.5vw;
}

.interest-no-button {
    display: block;
    padding: 0.5vw 3vw;
    border: 0px;
    margin-left: 0px;
    cursor: pointer;
}

.drop-down-list {
    display: none;
}

.groups-list {
    display: block;
}

.groups {
   padding: 2% 23%;
}

.invited1 {
    padding: 5% 15% 10% 9%;
    background-color: #EEEEEE;
    border: solid #DBD6BC 0.25px;
    box-shadow: 0px 0px 6px #00000029;
}

.accepted {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    padding: 5% 15% 5% 9%;
    background-color: #EEEEEE;
    border: solid #CCCCCC 0.25px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29);
}

.interest-group-match {
    color: #BEBAA4;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    border-top: solid 0.5px #BEBAA4;
    padding-top: 10px;
}

.interest-group-filter-align {
    position: relative;
    cursor: pointer;
}

.group-view-hike {
    display: block;
}

.interest-group-small-heading {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.4px;
    margin-left: 25px;
    margin-top: 5px;
    color: #464646;
}

.group-view {
    display: none;
}

.member {
    display: flex;
    align-items: center;
    padding: 4vh 0vh 3vh 0vh;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropbtn1:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.all-scroll {
    cursor: all-scroll;
}

.interest-group-opt1 {
    color: #747474;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-content {
    margin-top: 8%;
    margin-left: 1%;
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    margin-top: 4%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #747474;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px;
    padding: 23px 28px;
    width: 168px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.drop-icon {
    margin-left: 2%;
}

.show {
    display: block;
}

.group-view {
    display: none;
}

.search-not-found {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 30vw;
}

.groups {
    display: block;
   /* padding: 10% 20%;*/
}

.groups-list {
    display: none;
}

.group-head {
    padding: 4% 5%;
    background-color: #EEEEEE;
    width: 70%;
    margin-top: 4vh;
}

.group-hike-button {
    margin-left: 34%;
    margin-top: 13%;
}

.group-subscribe {
    background-color: #32BDD2;
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    padding: 10px 12px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    outline: none;
    margin-top: 2vh;
}

.invited {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 3% 4%;
    background-color: #E2DDC2;
    border: solid #DBD6BC 0.25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.29);
}

.my-profile-options {
    padding: 2%;
    min-height: 35vw;
}

.text-box {
    border: solid 1px #F7F4F4;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.26);
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 270px;
    border-radius: 12px;
}
.text-box input[type=text] {
    outline: none;
    border: 0px;
    padding: 10px;
    width: 250px;
    font-size: 14px;
    letter-spacing: 1.4px;
}
#originInfo{
    display:block;
    margin: auto;
}

#ignore {
  /*  width: 30%;
    min-height: 27%;
    top: 50%;
    left: 30%;
    padding-bottom: 2vw;*/
}

#ignore img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.ignore-text1 {
    color: #E65959;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.ignore-text2 {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 2.4;
    width: 80%;
}

.ignore-flex {
    display: flex;
    margin: 3vw 5vw;
    justify-content: space-evenly;
}

.ignore-btn {
    display: block;
    background-color: #E65959;
    border: 0px;
}

.no-btn {
    display: block;
    padding: 0.5vw 3vw;
    border: 0px;
    margin-left: 0px
}

#exit-group {
   /* width: 30%;
    min-height: 20%;
    top: 50%;
    left: 30%;
    padding-bottom: 2vw;*/
}

#exit-group img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.exit-group-txt1 {
    color: #E65959;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.exit-group-txt2 {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 2.4;
    width: 80%;
}

.exit-group-flex {
    display: flex;
    margin: 3vw 5vw 1vh 5vh;
    justify-content: space-evenly;
}

.ext-btn {
    display: block;
    background-color: #E65959;
    border: 0px;
    padding: 0.5vw 2.5vw;
}

.exit-no-btn {
    display: block;
    padding: 0.5vw 3vw;
    border: 0px;
    margin-left: 25px;
}

#delete {
  /*  width: 30%;
    min-height: 27%;
    top: 50%;
    left: 30%;
    padding-bottom: 2vw;*/
}

#delete img {
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

#remove img{
    float: right;
    margin-top: 10px;
    margin-bottom: 2vw;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.29);
}

.delete-group-txt1 {
    color: #E65959;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 1.9;
    margin-bottom: 20px;
}

.delete-group-txt2 {
    color: #5A5A5A;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 2.4;
    width: 80%;
}

.delete-flex {
    display: flex;
    margin: 3vw 5vw;
    justify-content: space-evenly;
}

.delete-btn {
    display: block;
    background-color: #E65959;
    border: 0px;
    margin-right: 25px;
    cursor: pointer;
}

.delete-no {
    display: block;
    padding: 0.5vw 3vw;
    border: 0px;
    margin-left: 0px;
}

.column-flex {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#delete-profile {
    display: flex;
    margin-left: 175px;
}

#upload-profile-pic {
    border-radius: 50%;
}

#edit-part {
    display: flex;
    padding: 10px;
    visibility: hidden;
    margin-bottom: 15px;
}

#change-delete-picture {
    visibility: hidden;
    display: grid;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 11px #999999;
    border-radius: 0px 9px 9px 9px;
}

.change-pic {
    margin-left: 20px;
    padding-right: 15px;
    border-bottom: solid #CCCCCC 0.5px;
    margin-top: 25px;
    padding-bottom: 20px;
}

.change-pic a {
    display: block;
    color: #464646;
    letter-spacing: 0.7px;
    text-decoration: none;
    font-size: 14px;
}

.delete-pic {
    margin-left: 20px;
    padding-right: 15px;
    margin-top: 25px;
    padding-bottom: 20px;
}

.delete-pic a {
    display: block;
    color: #464646;
    letter-spacing: 0.7px;
    text-decoration: none;
    font-size: 14px;
}

.red-dot {
    background-color: #E65959;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 5px;
}

.my-interests-btm {
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.05px;
    margin-top: 10px;
}

.just-flex {
    display: flex;
}

.my-interests-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 20px;
}

.parameter {
    color: #747474;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.05px;
}

.parameter-value {
    color: #505050;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 1.2px;
}

#interests-setup {
    padding: 2%;
}

.interest-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interest-flex2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-interests {
    margin-left: 22px;
}

.my-interests-head {
    display: block;
    color: #464646;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1.4px;
    line-height: 5px;
}

.my-interests-head-sub {
    color: #909090;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1;
}

#my-Interest-List {
    color: #32BDD2;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1;
    font-weight: 900;
}

#my-Interest-List u {
    color: #32BDD2;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1;
    font-weight: 900;
}

.interest-box1 {
    display: block;
    border-bottom: solid #CCCCCC 0.5px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.interest-box2 {
    display: block;
    padding-bottom: 10px;
    margin-top: 15px;
}

.interests-head {
    display: block;
    color: #464646;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 1.4;
    text-decoration: none;
    padding-right: 40px;
}

.interests-sub {
    display: block;
    color: #909090;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 1.1;
    text-decoration: none;
    padding: 10px 40px 10px 0px;
}

.drop-down-btn {
    margin-right: 15px;
}

.container1 {
    display: flex;
    border-bottom: solid 0.5px #CCCCCC;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 30px 30px;
    padding-bottom: 15px;
}

.drop-down-txt {
    color: #747474;
    font-size: 16px;
    padding-left: 15px;
}

.selection-count {
    color: #747474;
    font-weight: 700;
}

.view-btn {
    margin-right: 15px;
    margin-bottom: 5px;
}

.show-more-interests {
    margin-right: 10%;
    margin-left: 10%;
}

.groups-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groups-flex2 {
    display: flex;
    align-items: center;
}

#drop-down-1 {
    display: none;
    width: 190px;
    height: 210px;
    position: absolute;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.29);
    background-color: #FFFFFF;
    right: 0%;
    border-radius: 0px 5px 5px 5px;
}

#drop-down-1 a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px;
    color: #747474;
    line-height: 1.6;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 23% 0% 0% 15%;
}
#drop-down-my-groups{
        display: none;
        width: 190px;
        position: absolute;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.29);
        background-color: #FFFFFF;
        border-radius: 0px 5px 5px 5px;
}
#drop-down-my-groups a{
        display: block;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        color: #747474;
        line-height: 1.7;
        margin: 20% 0% 0% 15%;
}
.community-head{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1.4px;
    margin-left: 25px;
    margin-top: 5px;
    color: #464646;
}

#drop-down-btn {
    display: none;
    position: relative;
    cursor: pointer;
}
#drop-down-btn2{
    position: relative;
    cursor: pointer;
}
#drop-down-menu{
    display: none;
    width: 170px;
    height: 285px;
    position: absolute;
    border: solid 0.5px #CCCCCC;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29);
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    right: 0%;
}

.active-link {
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px;
    color: #909090;
    line-height: 1.6;
    border-bottom: solid 0.5px #CCCCCC;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 23% 0% 0% 15%;
}

.inactive-link {
    display: block;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #464646;
    line-height: 1.6;
    border-bottom: solid 0.5px #CCCCCC;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 13% 0% 0% 15%;
}

#no-groups {
    margin-top: 8vh;
}

#no-groups p {
    background-color: #EEEEEE;
    width: 357px;
    padding: 15px 25px;
    text-align: center;
    display: inline;
    font-size: 12px;
    font-weight: 600;
    color: #505050;
    letter-spacing: 0.6px;
}

#search-groups {
    padding: 8px 5px;
    border: 0px;
    width: 95%;
    outline: none;
    margin-left: 10px;
}

.not-found1 {
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 16px;
    color: #747474;
    font-weight: 900;
    margin-top: 15px;
}

.not-found2 {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 14px;
    color: #909090;
    font-weight: 400;
    margin-top: 15px;
    width: 25%;
    text-align: center;
}

.group_info {
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-weight: 600;
}

.group-admin {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.group-admin-username {
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 2.5;
}

.notification-details {
    color: #505050;
    font-size: 11px;
    letter-spacing: 0.55px;
    line-height: 1.3;
}

.group-description {
    color: #505050;
    width: 75%;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.8;
}

.group-notification {
    display: flex;
    padding: 5px 10px 5px 25px;
    width: 83%;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    margin-top: 15px;
}

.group-notification-accepted {
    display: flex;
    padding: 5px 10px 5px 25px;
    width: 83%;
    align-items: center;
    margin-top: 15px;
}

.group-notification-old {
    display: flex;
    padding: 5px 10px 5px 25px;
    width: 83%;
    display: flex;
    align-items: center;
    background-color: #BEBAA4;
    margin-top: 15px;
}

#notification-msg {
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-left: 15px;
    text-align: center;
}

.notification-msg1 {
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-left: 15px;
    text-align: center;
}

.group-admin-details1 {
    margin-left: 5px;
    margin-bottom: 5px;
}

.group-admin-username {
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 2.5;
}

.notification-details {
    color: #272727;
    font-size: 11px;
    letter-spacing: 0.55px;
    line-height: 1.3;
}

.old-notification {
    background-color: #EEEEEE;
    border: solid 0.25 #CCCCCC;
    margin-top: 4vh;
}

.accepted-msg {
    color: #BEBAA4;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    border-top: solid 0.5px #BEBAA4;
    padding-top: 10px;
}

.send-req-msg {
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
    margin-left: 10px;
    text-align: center;
    border-top: solid 0.5px #BEBAA4;
    padding-top: 10px;
}

.show-more-txt {
    font-weight: 900;
    margin-right: 10px;
    font-size: 14px;
    color: #747474;
    letter-spacing: 0.9px;
}

#back-btn {
    display: none;
    cursor: pointer;
    margin: 6vh 0vh 3vh 0vh;
}

#back-btn p {
    color: #32BDD2;
    font-weight: 900;
    font-size: 14px;
    margin-left: 7px;
    letter-spacing: 0.7px;
}
#back-btn1{
    display: flex;
    cursor: pointer;
    margin: 6vh 0vh 3vh 0vh;
    align-items: center;
}
#back-btn1 p{
    color: #32BDD2;
    font-weight: 900;
    font-size: 14px;
    margin-left: 7px;
    letter-spacing: 0.7px;
}
#create-group-btn{
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding: 13px 50px;
}

.just-relative {
    position: relative;
}

#filter-clear-link {
    margin-right: 15px;
    display: none;
    margin-top: 5px;
}
#filter-clear-link1{
    margin-right: 15px;
    display: flex;
    margin-top: 5px;
}
.fav-head{
    color: #5A5A5A;
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.9px;
    line=height: 14px;
}
.fav-drop-down{
    display: none;
    width: 170px;
    height: 164px;
    position: absolute;
    border: solid 0.5px #CCCCCC;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29);
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    right: 0%;
}

.fav-clear-link2 {
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px;
    color: #909090;
    line-height: 1.6;
    border-bottom: solid 0.5px #CCCCCC;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 23% 0% 0% 15%;
}
.fav-clear-link1{
    color: #32BDD2;
    text-align: right;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.82px;
    line=height: 13px;
    margin-top: 10px;
    text-decoration: underline;
}
.fav-link{
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #464646;
    line-height: 1.6;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 13% 0% 0% 15%;
}

.new-group-txt1 {
    color: #595959;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.6px;
    margin-bottom: 4vh;
}

.new-group-txt2 {
    color: #909090;
    width: 60%;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 6vh;
}

.group-name-txt {
    color: #32BDD2;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.9px;
    margin-bottom: 2vh;
}

.group-name-txt-box {
    padding: 0px 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: solid 1px #F7F4F4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    margin-bottom: 2vh;
    outline: none;
    margin-bottom: 6vh;
    width: 395px;
    height: 56px;
}

.new-group-txt-area {
    display: block;
    margin-bottom: 6vh;
    width: 395px;
    height: 115px;
    padding: 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: solid 1px #F7F4F4;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    margin-bottom: 6vh;
    color: #909090;
    outline: none;
    resize: none;
}

#invite-part {
    display: none;
}

.create-new-group-btn {
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding: 13px 35px;
}

.invite-btn {
    font-weight: 900;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 13px 35px;
    margin-top: 6vh;
}

.later-link {
    font-size: 10px;
    font-weight: 900;
    color: #747474;
    line-height: 11px;
    margin-left: 4vh;
    border-bottom: solid 1px #32BDD2;
}

#community-groups {
    padding: 2% 2% 0% 2%;
    min-height: 45vw;
}

#group-conversation {
    display: flex;
    flex-direction: column;
}

.half-container {
    width: 50%;
}

.conversation-group-name {
    color: #505050;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 2vh;
}

.conversation-group-description {
    color: #909090;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 14px;
}

.msg-time {
    color: #909090;
    font-size: 8px;
    letter-spacing: 0.4px;
    line-height: 9px;
}

.msg-by {
    color: #5A5A5A;
    margin: 10px 0px;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 11px;
    font-weight: 600;
}

.msg-content {
    color: #747474;
    font-size: 10px;
    letter-spacing: 0.25px;
    line-height: 13px;
}

.blue-notification-box {
    background-color: #32BDD2;
    padding: 1.6px;
    padding-left: 30px;
    font-size: 1px;
    line-height: 20px;
}

.sent-message {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.conversation-flex {
    display: flex;
    width: 80%;
}

.msg-box {
    display: block;
    border: solid #CCCCCC 1px;
    border-radius: 0px;
    margin-top: 0vh;
    width: -webkit-fill-available;
}

.msg-text-box {
    padding: 15px 10px;
    border: 0px;
    outline: none;
    margin-left: 10px;
    border-radius: 0px;
}

.send-btn {
    font-size: 14px;
    border-radius: 0px;
}

.conversation-flex-2 {
    display: flex;
    margin-top: 6vh;
    margin-bottom: 2vh;
}

.conversation-back {
    color: #32BDD2;
    font-weight: 900;
    font-size: 14px;
    margin-left: 7px;
    letter-spacing: 0.7px;
}

.group-view-flex {
    display: flex;
    align-items: center;
}

.group-info-head {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    color: #505050;
    font-weight: 600;
    margin-bottom: 20px;
}

.group-info-sub {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 1.4;
    color: #909090;
    font-weight: 400;
}

.group-admin-margin {
    margin-left: 25px;
}

.created-by {
    letter-spacing: 0.5px;
    font-size: 10px;
    line-height: 20px;
    color: #909090;
}

.group-admin-name {
    letter-spacing: 0.35px;
    font-size: 14px;
    line-height: 15px;
    color: #5A5A5A;
    font-weight: 500;
}

.group-created-date {
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    color: #909090;
}

.group-join1 {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 14px;
    color: #5A5A5A;
    margin-top: 4vh;
    font-weight: 600;
}

.group-join2 {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 14px;
    color: #909090;
    margin-top: 1vh;
    font-weight: 400;
}

.join-conversation {
    border-radius: 2px;
    padding: 10px 15px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    margin-top: 2vh;
}

.group-join-ignore-btn {
    display: block;
    background-color: #E65959;
    border: 0px;
    border-radius: 2px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    margin-top: 2vh;
}

.group-view-flex2 {
    display: flex;
    align-items: center;
    margin-top: 6vh;
}

.group-view-members-count {
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 25px;
    color: #747474;
    font-weight: 900;
    width: 17%;
}

.group-view-line {
    height: 0.5px;
    background-color: #CCCCCC;
    padding: 0.25px 200px;
    font-size: 1px;
    width: 400px;
    margin-left: 15px;
}

.group-view-margin2 {
    margin-left: 35px;
}

.group-member-name {
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 25px;
    color: #464646;
}

.group-member-join-date {
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 14px;
    color: #909090;
}

.group-view-back-btn {
    display: flex;
    margin: 6vh 0vh 3vh 0vh;
}
.group-view-back-btn p {
    color: #32BDD2;
    font-family: roboto;
    font-weight: 900;
    font-size: 14px;
    margin-left: 7px;
    letter-spacing: 0.7px;
}
.group-info-width{
    width: 70%;
}
.group-view-exit-btn{
    background-color: #E65959;
    border: 0px;
    border-radius: 2px;
    padding: 10px 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    letter-spacing: 1.2px;
}
.awaiting-flex{
    display: flex;
    align-items: center;
}
.awaiting-req-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF8FA;
    border-top: solid #32BDD2 1px;
    border-bottom: solid #32BDD2 1px;
    padding: 2% 4%;
    width: 60%;
    margin-top: 4%;
}
.awaiting-req-txt1{
    font-family: roboto;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 17px;
    color: #206771;
    text-align: center;
}
.awaiting-req-txt2{
    font-family: roboto;
    letter-spacing: 0.6px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 15px;
    color: #318E9B;
    text-align: left;
}
.open-group-flex{
    display: flex;
    align-items: center;
}
.joining-interest{
    font-size: 14px;
    letter-spacing: 0.7px;
    font-family: roboto;
    line-height: 17px;
    font-weight: 600;
    color: #5A5A5A;
    margin-top: 2vh;
}
.joining-interest-sub{
    font-size: 12px;
    letter-spacing: 0.6px;
    font-family: roboto;
    line-height: 17px;
    font-weight: 400;
    color: #999999;
    margin-top: 10px;
}
.send-request-btn{
    font-size: 12px;
    letter-spacing: 1.2px;
    margin-top: 2vh;
    padding: 8px 15px;
}
#waiting-msg{
    display: none;
    margin-top: 2vh;
}
.please-wait{
    font-size: 12px;
    letter-spacing: 1.2px;
    font-family: roboto;
    line-height: 14px;
    font-weight: 600;
    color: #32BDD2;
    margin-left: 10px;
}
#request-sent-msg{
   display: none;
   align-items: center;
   justify-content: center;
   background-color: #EDF8FA;
   border-top: solid #32BDD2 1px;
   border-bottom: solid #32BDD2 1px;
   padding: 2% 4%;
   width: 60%;
   margin-top: 4%;
}
.my-groups-flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-groups-flex2{
    display: flex;
    align-items: center;
}
.my-groups-drop-down{
    display: none;
    width: 188px;
    position: absolute;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.29);
    background-color: #FFFFFF;
    right: 46.8%;
    border-radius: 0px 5px 5px 5px;
}
.interest-group-links{
    display: block;
    font-family: roboto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #747474;
    line-height: 17px;
    padding-bottom: 13%;
    margin: 20% 0% 0% 10%;
}
.community-group-links{
    display: block;
    font-family: roboto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #747474;
    line-height: 17px;
    padding-bottom: 13%;
    margin: 13% 0% 0% 10%;
}
.my-group-links{
    display: block;
    font-family: roboto;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #747474;
    line-height: 17px;
    padding-bottom: 13%;
    margin: 13% 0% 0% 10%;
}
.my-group-view-drop-down-btn{
    display: none;
}
.my-group-view-drop-down{
    position: relative;
}
.fav-drop-down{
    display: none;
    width: 170px;
    height: 164px;
    position: absolute;
    border: solid 0.5px #CCCCCC;
    box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.29);
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    right: 0%;
}
.fav-clear-link{
    display: block;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px;
    color: #909090;
    line-height: 1.6;
    border-bottom: solid 0.5px #CCCCCC;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 23% 0% 0% 15%;
}
.fav-link{
    display: block;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
    color: #464646;
    line-height: 1.6;
    padding-right: 40%;
    padding-bottom: 13%;
    margin: 13% 0% 0% 15%;
}
.group-info-date{
    font-family: roboto;
    font-size: 10px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    color: #505050;
    font-weight: 600;
    margin-bottom: 20px;
}
.delete-btn-my-groups{
    background-color: #E65959;
    border: 0px;
    border-radius: 2px;
    padding: 10px 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.29);
    font-size: 12px;
    letter-spacing: 1.2px;
}
.my-group-view-flex1{
    display: flex;
    flex-direction: column;
}
.my-group-view-flex2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.conversation-link-box{
    margin-top: 4vh;
    border-radius: 0px 0px 0px 27px;
    width: 215px;
    height: 55px;
    background-color: #DFEBF7;
    box-shadow: 0px 2px 5px rgba( 0, 0, 0, 0.29);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conversation-txt{
    color: #505050;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 16px;
}
#conversation-notification-count{
    color: #FFFFFF;
    font-size: 8px;
    letter-spacing: 0.4px;
}
.request-txt{
    color:#505050;
    font-family:roboto;
    font-size:14px;
    font-weight:700;
    margin-top: 10px;
    letter-spacing: 0.7px;
}
.request-txt2{
    color:#747474;
    font-family:roboto;
    font-size:12px;
    width:75%;
    margin-top: 15px;
    letter-spacing: 0.3px;
    line-height: 1.8;
}
.my-group-no-members{
    margin-top: 8vh;
}
.my-group-no-members p{
    background-color: #EEEEEE;
    width: 357px;
    padding: 15px 20px;
    text-align:center;
    display: inline;
    font-family:roboto;
    font-size: 10px;
    font-weight: 600;
    color: #505050;
    letter-spacing: 0.5px;
}
.my-group-view-invite-members{
    margin-top: 4vh;
}
.invite-members-txt{
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 13px;
    font-weight: 600;
}
.hide-content{
    visibility: hidden;
}
.invite-members-txt2{
    color: #999999;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 13px;
    margin-top: 10px;
}
.joined-members-head-count{
    font-weight: 700;
    margin-right: 10px;
    font-size: 14px;
}
.pending-members-head-count{
    font-weight: 700;
    margin-right: 10px;
    font-size: 14px;
}
.invitation-sent-txt1{
    font-size: 12px;
    color: #5A5A5A;
    letter-spacing: 0.6px;
    line-height: 14px;
    font-weight: 600;
}
.invitation-sent-txt2{
    font-size: 10px;
    color: #999999;
    letter-spacing: 0.5px;
    line-height: 14px;
    font-weight: 400;
}
.request-details{
    border-bottom: solid #CCCCCC 0.5px;
    display: flex;
    margin-top: 4vh;
    width: 65%;
}
.requester-details{
    margin-left: 10px;
}
.requester-name{
    color: #747474;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.5;
}
.request-date-unread{
    color: #505050;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-weight: 700;
}
.request-date-read{
    color: #909090;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 1.4;
    font-weight: 500;
}
.request-stat{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.request-status-txt{
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 1.1;
    font-weight: 700;
    color: #32BDD2;
    margin-left: 10px;
    margin-top: 2px;
}
.search-bar input{
    padding: 8px 5px;
    border: 0px;
    width: 95%;
    outline: none;
    margin-left: 10px;
}
#count-msg{
    display: none;
    text-align: right;
    margin-top: 15px;
    font-size: 12px;
    color: #464646;
    font-weight: 700;
}
.invite-sent-toast{
    font-size: 12px;
    letter-spacing: 0.9px;
    text-align: left;
}
.invite-sent-toast2{
    font-size: 12px;
    letter-spacing: 0.6px;
    text-align: left;
    margin-top: 10px;
}
.no-results-found{
    font-family: roboto;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 16px;
    color: #747474;
    font-weight: 900;
    margin-top: 15px;
}
.no-results-found{
    font-family: roboto;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 14px;
    color: #909090;
    font-weight: 400;
    margin-top: 15px;
    width: 25%;
    text-align: center;
}
.invite-people-margin-top{
    margin-top: 3vh;
}
.invite-people-flex1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
}
.fav-people-flex{
    display: flex;
    align-items: center;
}
.no-border{
    border: 0px;
}
.invite-status{
    font-size: 12px;
    color: #5A5A5A;
    letter-spacing: 0.6px;
    line-height: 14px;
    font-weight: 600;
}
.invite-date{
    font-size: 10px;
    color: #999999;
    letter-spacing: 0.5px;
    line-height: 14px;
    font-weight: 400;
}
.invite-btn1{
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 7px 25px;
}
.group-list-create-btn{
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 1.2px;
    padding: 13px 50px;
}
.slideMenu{
    display: none;
}
.active{
    background-color: #32BDD2;
}
.active span{
    color: #FFFFFF;
}